/* Profile field group main admin page */
#tabs-bottom {
	background: #f5f5f5;
	height: 32px;
	border: 1px solid #dedede;
}

#tabs {
	position: relative;
	}
	p.nofields {
		margin: 20px 20px 0;
	}

	/* Field group tabs */
	ul#field-group-tabs {
		float: left;
		padding: 0 0 0 15px;
		margin: 0;
		display: none;
	}
		ul#field-group-tabs li {
			float: left;
			margin-right: 8px;
			margin-bottom: -1px;
		}
		ul#field-group-tabs li.ui-state-hover a {
			background-color: #fafafa;
		}
		ul#field-group-tabs li.ui-state-hover a.ui-tab {
			border-color: #dedede #dedede #f5f5f5 #dedede;
			color: #d54e21;
		}
		ul#field-group-tabs li.ui-state-acceptable a.ui-tab {
			border-color: #5a5 #5a5 #ccc #5a5;
			color: #8a8;
			background-color: #efe;
		}
		ul#field-group-tabs li.drop-candidate a.ui-tab {
			background-color: #ffc;
			border-color: #aa5 #aa5 #ccc #aa5;
			color: #aa8;
		}
		ul#field-group-tabs li a.ui-tab {
			font-size: 14px;
			display: block;
			margin-top: 3px;
			padding: 5px 10px 5px;
			border: 1px solid #dedede;
			border-bottom: none;
			background-color: #f5f5f5;
			text-decoration: none;
			color: #000;
			outline: none;
		}

		/* Selected tab */
		ul#field-group-tabs li.ui-state-active a.ui-tab {
			background-color: #f5f5f5;
			margin-top: -1px;
			padding: 7px 10px 7px;
			border: 1px solid #dedede;
			border-bottom: 1px solid transparent;
			color: #000;
		}

	/* Toolbar */
	.tab-toolbar {
		background: #f5f5f5;
		border-width: 0 0 1px;
		border-color: #dedede;
		border-style: solid;
		padding: 10px;
	}

	.bp-option a.delete,
	.field-wrapper a.deletion,
	.tab-toolbar a.deletion {
		color: #f00;
		border-bottom: 1px solid #f00;
		text-decoration: none;
		padding: 0;
	}

	div.delete-button {
		float: right;
		line-height: 28px;
		margin: 0 10px 0 0;
	}

	div.tab-wrapper {
		background-color: #fff;
		border: 1px solid #dedede;
		border-bottom: none;
		clear: left;
		padding-bottom: 20px;
	}

	.tab-wrapper fieldset {
		position: relative;
		cursor: default;
	}
		.tab-wrapper fieldset legend {
			font-weight: bold;
		}
	.tab-wrapper .xprofile-field {
		position: relative;
	}
	.tab-wrapper fieldset fieldset {
		position: relative;
		border: 1px solid #ddd;
		margin: 20px 20px 0;
		cursor: move;
		background: #fafafa;
		padding: 10px 0 0 ;
	}
	.tab-wrapper fieldset fieldset legend {
		position: absolute;
		top: 10px;
		left: 10px;
		padding: 0;
	}
		.field-group fieldset:hover {
			border-color: #999;
		}
		fieldset div.field-wrapper {
			padding: 25px 10px 10px;
		}
	fieldset.radio div div label,
	fieldset.checkbox div label {
		margin-right: 20px;
	}

	fieldset.clear-value {
		margin-left: 10px;
	}
	.field-group div.actions {
		float: none;
		border-top: 1px solid #ddd;
		margin: 10px 0 0;
		padding-top: 10px;
	}
	.field-group div.actions a,
	.field-group div.actions button,
	.field-group div.actions input {
		float: none;
	}
	.field-group fieldset:hover div.actions {
		display: block;
	}

	.bp-options-box .ui-sortable-placeholder,
	#field-group-tabs .ui-sortable-placeholder,
	.field-group fieldset.ui-sortable-placeholder {
		border: 1px dashed #999;
		background-color: #fff;
		visibility: visible !important;
	}

	#field-group-tabs .ui-sortable-placeholder {
		background: transparent;
		border-bottom: none;
		margin: -1px 6px -1px 0;
	}

	ul.forTab {
		list-style: none;
		padding: 0;
		margin: 0 0 0 1em;
	}
		ul.forTab li {
			margin: 0 0 1em 0;
		}
			ul.forTab li label {
				display: block;
			}

			ul.forTab li input {
				font-size: 1.4em;
			}

	p.success { background: green;}
	p.err {
		border-top: 2px solid red;
		border-bottom: 2px solid red;
		color: red;
		padding: 5px 0;
		width: 40%;
	}

	span.desc, span.signup-description {
		display: block;
		font-size: 11px;
		color: #555;
	}

ul.multi-checkbox {
	margin: 0 5px 0 0;
	padding: .5em .9em;
	height: 10em;
	overflow: auto;
	list-style: none;
	border: solid 1px #ccc;
	width: 90%;
}

ul.multi-checkbox li {
	padding: 0;
	margin: 0;
}

div.bp-option {
	background: #fafafa;
	border: 1px solid #dfdfdf;
	margin: 10px 0;
	padding: 10px 5px;
}

div.bp-option:hover {
	border: 1px solid #999;
}

.bp-option-icon {
	font: normal 20px/1 'dashicons';
	speak: none;
	display: inline-block;
	padding: 0 0 0 2px;
	top: 5px;
	position: relative;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
	color: #888;
}

div.bp-option .grabber:before {
	content: "\f329";
}

th a {
	background: #fff;
	padding: 2px 5px;
	top: -2px;
}

textarea#description,
textarea#group_description {
	border: 1px solid #ddd;
	width: 100%;
}

#bp-xprofile-add-field .titlewrap,
#bp-xprofile-add-field-group .titlewrap {
	margin-bottom: 20px;
}
