/* 
Basic layout structure styles for BuddyPress Wire. Formats BuddyPress wire pages within any WordPress theme.
No colors, fonts or pretty stuff. 

These structure styles can be overridden by the theme CSS file if needed.
*/

.comment-details { float: left; width: 20%; }
.comment-content { float: right; width: 80%; }

#wire-post-list li, #wire-post-new {
	position: relative;
	padding: 1em;
	min-height: 60px;
}
	
	.wire-post-metadata img.avatar, #wire-post-new img.avatar {
		float: left;
		margin: 0 12px 12px 0;
	}
	
	.wire-post-content, #wire-post-new-input {
		margin-left: 70px;
	}

#wire-post-new textarea {
	height: 100px;
	margin: 5px 0;
}

#wire-post-submit {
	width: auto;
	margin: 5px 0;
}
