ul#letter-list, ul#groups-list {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}
	ul#letter-list li {
		float: left;
		margin: 0 4px 3px 0;
		width: 3.2%;
	}
		ul#letter-list li a {
			display: block;
			background: #eee;
			text-align: center;
			text-decoration: none;
			font-size: 12px;
			color: inherit;
			font-family: Georgia, Times, serif;
		}
		
		ul#letter-list li a:hover {
			font-weight: bold;
			background: #fff9df;
			color: #f7740a;
		}

ul#groups-list {
	margin: 18px 0 0 0;
}

ul#groups-list li {
	position: relative;
}

	ul#groups-list li .item-avatar, .avatar-block img.avatar {
		float: left;
		margin: 0 15px 0 0;
	}
	
	ul#groups-list li .item-avatar img, img.avatar {
		border: 3px solid #ddd;
	}
	
	ul#groups-list li h4.item-title {
		margin: 0 0 7px 0;	
	}
		
	ul#groups-list li .item {
		margin-left: 71px;
	}
	
	ul#groups-list li .item-meta {
		margin: 10px 0;
	}
	
	ul#groups-list .item-options {
		text-align: right;
		font-size: 0.9em;
		margin: -15px 0 5px 0;
	}
	
	ul#groups-list li div.action {
		position: absolute;
		top: 20%;
		right: 1em;
		text-align: right;
	}
		div.action div.join-button {
			margin-bottom: 5px;
		}
		
		div.action div.meta {
			font-size: 0.9em;
		}
	
	ul#groups-list li a.add, ul#groups-list li a.remove, ul#groups-list li div.pending {
		background: url(../images/add_friend_button.gif) top left no-repeat;
		text-indent: -999em;
		display: block;
		overflow: hidden;
		width: 102px;
		text-align: left;
	}
	
	ul#groups-list li a.remove {
		background: url(../images/remove_friend_button.gif) top left no-repeat;
		width: 121px;
	}

	ul#groups-list li div.pending {
		background: url(../images/requested_friend_button.gif) top left no-repeat;
		width: 136px;
	}
	
/* Search Form */

#search-groups-form input {
	width: 72%;
	padding: 0.3em 0.3em;
	font-size: 1.1em;
	font-family: Georgia, Times, serif;
}
	#search-groups-form #groups_search_submit {
		width: auto;
		font-size: 1.1em;
	}

	.group-data {
		font-size: 0.9em;
		color: #777;
	}
	
	.group-data .field-name {
		font-weight: bold;
	}
		.group-data .field-name span {
			font-weight: normal;
		}
	
/* Pag Links */

.pagination-links {
	margin-top: -0.7em;
	float: right;
}
	.pagination-links .page-numbers {
		padding: 0.65em 0.7em;
		height: 24px;
	}
	.pagination-links .current {
		padding: 0.5em 0.7em;
	}
	
	div.info-group .pagination-links {
		margin: 0 0 5px 0;
		float: none;
		text-align: right;
	}
	
.pag-count {
	margin-bottom: -12px;
}

/* Buttons */

.group-button {
	background: url(../../bp-core/images/button_back.gif) top left no-repeat;
	display: inline-block;
	margin-bottom: 10px;
}

.group-button a {
	display: block;
	height: 19px;
	color: #777;
	font-size: 11px;
	padding: 0 33px 0 11px;
	margin-right: -7px;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
}
	.group-button a:hover {
		color: #555;
	}

	.group-button a.join-group, .group-button a.request-membership {
		background: url(../../bp-core/images/add_button_side.gif) top right no-repeat;
	}

	.group-button a.leave-group {
		background: url(../../bp-core/images/remove_button_side.gif) top right no-repeat;
	}

	.group-button a.membership-requested {
		background: url(../../bp-core/images/check_button_side.gif) top right no-repeat;
	}

.meta {
	color: #888;
}