.groups_widget_groups_list ul#groups-list {
	margin: 15px 0 0 0;
	padding: 0;
	list-style: none;
}
	
	.groups_widget_groups_list ul#groups-list li {
		min-height: 60px;
	}
	
	.groups_widget_groups_list ul#groups-list li img.avatar {
		float: left;
		margin: 0 10px 0 0;
	}
	
	.groups_widget_groups_list ul#groups-list li span.activity {
		font-size: 11px;
	}
	
.groups_widget_groups_list img#ajax-loader-groups {
	float: right;
}