.widget_bp_groups_widget ul#groups-list {
	margin: 15px 0 0 0;
	padding: 0;
	list-style: none;
}
	.widget_bp_groups_widget ul#groups-list li {
		min-height: 60px;
	}
	
	.widget_bp_groups_widget ul#groups-list li img.avatar {
		float: left;
		margin: 0 10px 0 0;
	}
	
	.widget_bp_groups_widget ul#groups-list li span.activity {
		font-size: 11px;
	}
	
.widget_bp_groups_widget img#ajax-loader-groups {
	float: right;
}