/**** WIRE ***********************/

#wire-post-list li, #wire-post-new {
	background: url(../images/message_thread_back.gif) top left repeat-x;
}

	.wire-post-metadata, #wire-post-new-metadata {
		color: #888;
		font-size: 0.9em;
	}

#wire-post-new textarea {
	font: normal 1em "Lucida Grande", "Lucida Sans Unicode", Arial, Tahoma, sans-serif;
}

#wire-post-submit {
	font-size: 1.4em;
}