/*------------------------------------------------------------------------------

This stylesheet is always loaded in wp-admin.

@since 1.6.0
@since 2.5.0

--------------------------------------------------------------------------------
TABLE OF CONTENTS:
--------------------------------------------------------------------------------
1.0 Welcome Screen
	1.1 Version Badge
	1.2 About Panel
		1.2.1 Headline Feature
		1.2.2 Features Section
		1.2.3 Changelog Section
2.0 Dashicons
	2.1 Top level menus
	2.2 Settings - Components
	2.3 Tools
3.0 User's Lists
4.0 Emails - Edit page
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 * 1.0 Welcome Screen
 *----------------------------------------------------------------------------*/

/*
 * 1.1 Version Badge
 */
.bp-badge {
	color: #d84800;
	display: inline-block;
	font: normal 150px/1 'dashicons' !important;
}

.bp-badge:before {
	content: "\f448";
}

.about-wrap .bp-badge {
	position: absolute;
	top: 0;
	left: 0;
}

@media only screen and (max-width: 500px) {
	.about-wrap .bp-badge {
		position: relative;
		margin: 10px auto;
		top: auto;
		left: auto;
	}
}

/*
 * 1.2 About Panel
 */

/*
 * 1.2.1 Headline Feature
 */
.index_page_bp-about .bp-headline-feature,
.dashboard_page_bp-about .bp-headline-feature {
	margin-bottom: 3em;
	text-align: center;
}

.index_page_bp-about .bp-headline-feature h3,
.index_page_bp-about .bp-headline-feature .headline-title,
.dashboard_page_bp-about .bp-headline-feature h3,
.dashboard_page_bp-about .bp-headline-feature .headline-title {
	font-size: 2.2em;
	line-height: 1.3;
	margin: 1.25em 0 0.6em;
	text-align: center;
}

.index_page_bp-about .bp-headline-feature p,
.dashboard_page_bp-about .bp-headline-feature p {
	font-size: 1.15em;
	margin: 1.15em auto 0.6em;
	max-width: 80%;
}

.index_page_bp-about .bp-headline-feature .introduction,
.dashboard_page_bp-about .bp-headline-feature .introduction {
	font-weight: 600;
}


/*
 * 1.2.2 Features Section
 */
.index_page_bp-about .bp-features-section,
.dashboard_page_bp-about .bp-features-section {
	clear: both;
	margin-bottom: 2em;
	margin-top: 2em;
	padding-bottom: 0;
}

.index_page_bp-about .bp-features-section h3,
.dashboard_page_bp-about .bp-features-section h3 {
	font-size: 1.8em;
	font-weight: normal;
	line-height: 1.5em;
	margin: 0 0 0.6em;
	text-align: center;
}

.index_page_bp-about .bp-feature,
.dashboard_page_bp-about .bp-feature {
	clear: both;
	overflow: hidden;
	margin-bottom: 3em;
	margin-top: 3em;
}

.index_page_bp-about .bp-feature::after,
.dashboard_page_bp-about .bp-feature::after {
	content: '';
}

.index_page_bp-about .bp-feature h4,
.dashboard_page_bp-about .bp-feature h4 {
	color: #23282d;
	display: inline-block;
	font-size: 1.25em;
	margin-bottom: 0.6em;
	margin-top: 0;
	width: 47%;
}

.index_page_bp-about .bp-feature p,
.dashboard_page_bp-about .bp-feature p {
	float: right;
	font-size: 1.15em;
	width: 47%;
}

.index_page_bp-about .bp-feature.opposite h4,
.dashboard_page_bp-about .bp-feature.opposite h4,
.index_page_bp-about .bp-feature.opposite p,
.dashboard_page_bp-about .bp-feature.opposite p {
	float: left;
}

.index_page_bp-about .bp-feature img,
.dashboard_page_bp-about .bp-feature img {
	clear: left;
	float: left;
	margin-right: 2.5%;
	width: 50%;
	max-width: 50%;
}

.index_page_bp-about .bp-feature.opposite img,
.dashboard_page_bp-about .bp-feature.opposite img{
	clear: right;
	float: right;
	margin-right: 0;
	margin-left: 2.5%;
}


/*
 * 1.2.3 Changelog Section
 */
.index_page_bp-about .bp-changelog-section,
.dashboard_page_bp-about .bp-changelog-section {
	border-top: 1px solid #ccc;
	clear: both;
	margin-bottom: 3em;
	margin-top: 2em;
	padding-bottom: 0;
}

.index_page_bp-about .bp-changelog-section::after,
.dashboard_page_bp-about .bp-changelog-section::after {
	content: '';
}

.index_page_bp-about .bp-changelog-section .changelog-title,
.dashboard_page_bp-about .bp-changelog-section .changelog-title {
	color: #23282d;
	font-size: 1.8em;
	font-weight: 300;
	line-height: 1.5;
	margin: 1.25em 0 0.6em;
	text-align: center;
}

.index_page_bp-about .bp-changelog-section .two-col > div,
.dashboard_page_bp-about .bp-changelog-section .two-col > div {
	float: right;
	margin-left: 4.799999999%;
	position: relative;
	width: 47.6%;
}

.index_page_bp-about .bp-changelog-section .two-col > div.last-feature,
.dashboard_page_bp-about .bp-changelog-section .two-col > div.last-feature {
	margin-left: 0;
}

.index_page_bp-about .bp-changelog,
.dashboard_page_bp-about .bp-changelog {
	margin-bottom: 3em;
}

.index_page_bp-about .bp-changelog h4,
.dashboard_page_bp-about .bp-changelog h4 {
	font-size: 1.15em;
	margin-top: 1.5em;
	margin-bottom: 0.6em;
}

.index_page_bp-about .bp-changelog p,
.dashboard_page_bp-about .bp-changelog p {
	font-size: 1.05em;
	margin-top: 0.75em;
}

.bp-assets {
	clear: both;
	margin-bottom: 2em;
	padding-top: 3em;
}

@media screen and ( max-width: 782px ) {
	.index_page_bp-about .bp-headline-feature,
	.dashboard_page_bp-about .bp-headline-feature {
		max-width: 100%;
	}
	.index_page_bp-about .bp-headline-feature .headline-title,
	.dashboard_page_bp-about .bp-headline-feature .headline-title {
		font-size: 1.5em;
		line-height: 1.5;
	}
	.index_page_bp-about .bp-headline-feature p,
	.dashboard_page_bp-about .bp-headline-feature p {
		max-width: 100%;
	}
	.index_page_bp-about .bp-features-section,
	.dashboard_page_bp-about .bp-features-section {
		margin-bottom: 0;
		margin-top: 2em;
	}
	.index_page_bp-about .bp-features-section h3,
	.dashboard_page_bp-about .bp-features-section h3,
	.index_page_bp-about .bp-changelog-section .changelog-title,
	.dashboard_page_bp-about .bp-changelog-section .changelog-title {
		font-size: 1.8em;
		font-weight: 300;
		line-height: 1.5;
	}
	.index_page_bp-about .bp-features-section h4,
	.dashboard_page_bp-about .bp-features-section h4,
	.index_page_bp-about .bp-changelog-section h4,
	.dashboard_page_bp-about .bp-changelog-section h4 {
		font-size: 1.25em;
		line-height: 1.25;
		margin-top: 0.6em;
		text-align: right;
	}
	.index_page_bp-about .bp-feature,
	.dashboard_page_bp-about .bp-feature {
		margin-bottom: 1em;
		margin-top: 1em;
	}
	.index_page_bp-about .bp-feature h4,
	.dashboard_page_bp-about .bp-feature h4,
	.index_page_bp-about .bp-feature p,
	.dashboard_page_bp-about .bp-feature p {
		width: 100%;
	}
	.index_page_bp-about .bp-feature.opposite h4,
	.dashboard_page_bp-about .bp-feature.opposite h4,
	.index_page_bp-about .bp-feature.opposite p,
	.dashboard_page_bp-about .bp-feature.opposite p {
		float: none;
	}
	.index_page_bp-about .bp-feature img,
	.dashboard_page_bp-about .bp-feature img {
		clear: right;
		float: none;
		margin-right: 0;
		width: 100%;
		max-width: 100%;
	}
	.index_page_bp-about .bp-feature.opposite img,
	.dashboard_page_bp-about .bp-feature.opposite img{
		clear: right;
		float: none;
		margin-left: 0;
	}
	.index_page_bp-about .bp-changelog-section .two-col > div,
	.dashboard_page_bp-about .bp-changelog-section .two-col > div {
		margin-top: 0;
		padding-bottom: 0.5em;
		width: 100%;
	}
}


/*------------------------------------------------------------------------------
 * 2.0 Dashicons
 *----------------------------------------------------------------------------*/

/*
 * 2.1 Top level menus
 */
#adminmenu #toplevel_page_bp-activity .wp-menu-image:before,
#adminmenu #toplevel_page_bp-activity_user .wp-menu-image:before,
#adminmenu #toplevel_page_bp-activity_network .wp-menu-image:before {
	content: "\f452";
}

#adminmenu #toplevel_page_bp-groups .wp-menu-image:before,
#adminmenu #toplevel_page_bp-groups_user .wp-menu-image:before,
#adminmenu #toplevel_page_bp-groups_network .wp-menu-image:before {
	content: "\f456";
}

#adminmenu #toplevel_page_bp-notifications .wp-menu-image:before,
#adminmenu #toplevel_page_bp-notifications_user .wp-menu-image:before,
#adminmenu #toplevel_page_bp-notifications_network .wp-menu-image:before {
	content: "\f439";
}

#adminmenu #toplevel_page_bp-messages .wp-menu-image:before,
#adminmenu #toplevel_page_bp-messages_user .wp-menu-image:before,
#adminmenu #toplevel_page_bp-messages_network .wp-menu-image:before {
	content: "\f457";
}

#adminmenu #toplevel_page_bp-friends .wp-menu-image:before,
#adminmenu #toplevel_page_bp-friends_user .wp-menu-image:before,
#adminmenu #toplevel_page_bp-friends_network .wp-menu-image:before{
	content: "\f454";
}

#adminmenu #toplevel_page_bp-settings .wp-menu-image:before,
#adminmenu #toplevel_page_bp-settings_user .wp-menu-image:before,
#adminmenu #toplevel_page_bp-settings_network .wp-menu-image:before {
	content: "\f108";
}

#adminmenu li.toplevel_page_bp-components .wp-menu-image,
#adminmenu li.toplevel_page_bp-general-settings .wp-menu-image {
	content: "\f448";
}

/*
 * 2.2 Settings - Components
 */
.settings_page_bp-components td.plugin-title span {
	float: right;
	width: 18px;
	height: 18px;
	margin-left: 5px;
}

.settings_page_bp-components td.plugin-title span:before {
	font-family: 'dashicons';
	font-size: 18px;
}

.settings_page_bp-components tr.activity td.plugin-title span:before {
	content: "\f452";
}

.settings_page_bp-components tr.notifications td.plugin-title span:before {
	content: "\f339";
}

.settings_page_bp-components tr.xprofile td.plugin-title span:before {
	content: "\f336";
}

.settings_page_bp-components tr.settings td.plugin-title span:before {
	content: "\f108";
}

.settings_page_bp-components tr.groups td.plugin-title span:before {
	content: "\f456";
}

.settings_page_bp-components tr.messages td.plugin-title span:before {
	content: "\f457";
}

.settings_page_bp-components tr.forums td.plugin-title span:before {
	content: "\f452";
}

.settings_page_bp-components tr.blogs td.plugin-title span:before {
	content: "\f120";
}

.settings_page_bp-components tr.friends td.plugin-title span:before {
	content: "\f454";
}

.settings_page_bp-components tr.core td.plugin-title span:before {
	content: "\f448";
}

.settings_page_bp-components tr.members td.plugin-title span:before {
	content: "\f307";
}

#bp-admin-component-form .wp-list-table.plugins .plugin-title {
	width: 25%;
}

@media screen and ( max-width: 782px ) {
	.settings_page_bp-components td.plugin-title span {
		margin-top: 5px;
	}
	#bp-admin-component-form .wp-list-table.plugins .plugin-title {
		display: block;
		width: auto;
	}
	#bp-admin-component-form .subsubsub {
		margin-bottom: 0;
		padding-bottom: 35px;
	}
}

/*
 * 2.3 Tools
 */
#adminmenu .toplevel_page_network-tools div.wp-menu-image:before {
	content: "ï„‡";
}


/*------------------------------------------------------------------------------
 * 3.0 User's Lists
 *----------------------------------------------------------------------------*/
body.site-users-php th#role,
body.users-php th#role,
body.users_page_bp-signups th#count_sent {
	width: 10%;
}

body.site-users-php th#name,
body.site-users-php th#email,
body.users-php th#name,
body.users-php th#registered,
body.users-php th#email,
body.users_page_bp-signups th#name,
body.users_page_bp-signups th#registered,
body.users_page_bp-signups th#email,
body.users_page_bp-signups th#date_sent {
	width: 15%;
}

body.users-php th#blogs,
body.users_page_bp-signups th#blogs {
	width: 20%;
}

body.users_page_bp-signups th.column-count_sent,
body.users_page_bp-signups td.count_sent {
	text-align: center;
}


/*------------------------------------------------------------------------------
 * 4.0 Emails - Edit Page
 *----------------------------------------------------------------------------*/
body.post-type-bp-email #excerpt {
	height: auto;
}

body.post-type-bp-email th#situation {
	width: 20%;
}

body.post-type-bp-email td.column-situation ul {
	margin: 0;
}

body.post-type-bp-email .categorydiv label {
	display: block;
	float: right;
	padding-right: 25px;
	text-indent: -25px;
}
