/*------------------------------------------------------------------------------
Loaded in wp-admin for query string `hello=buddypress`.

@since 3.0.0

--------------------------------------------------------------------------------
TABLE OF CONTENTS:
--------------------------------------------------------------------------------
1.0 - Typography and colour
2.0 - Dashicons
3.0 - Elements
	3.1 - Modal footer
	3.2 - Modal content
4.0 - Content styles
	4.1 - Footer content
	4.2 - Header content
	4.3 - Content content
5.0 - Media
6.0 - Media Queries
	6.1 - Desktop Medium
	6.2 - Desktop Large
------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
 * 1.0 - Typography and colour
 *----------------------------------------------------------------------------*/
:root {
	--bp-hello-color-primary: #d34600;
	--bp-hello-color-secondary: #e5e5e5;
	--bp-hello-container-size: 15%;
}

.bp-hello-content p {
	font-size: 16px;
}

.bp-hello-content p.has-white-color.has-text-color.has-background.has-medium-font-size {
	color: #fff;
	padding: 1.25em 2.375em !important;
}

.bp-hello-content p a {
	text-decoration: none;
}

.bp-hello-content p a:hover {
	color: #dd823b;
	text-decoration: underline;
}

.bp-hello-content p a mark.has-inline-color.has-white-color {
	color: #fff;
}

.bp-hello-content ul,
.bp-hello-content ol {
	list-style: inherit;
}

.bp-hello-content ol li {
	font-size: 14px;
}

.bp-hello-content h3 {
	font-size: 1.1em;
	font-weight: 500;
}

.bp-hello-content .wp-container-core-buttons-is-layout-1 {
	display: flex;
	justify-content: center;
}

.bp-hello-content .has-vivid-red-background-color {
	background-color: #be3631;
}

.bp-hello-content .wp-block-button.is-style-fill a:hover {
	text-decoration: underline;
}

.bp-hello-content .wp-block-button__link {
	color: #fff;
	box-shadow: none;
	text-decoration: none;
	padding: calc(0.667em + 2px) calc(1.333em + 2px);
	font-size: 1.125em;
}

/*------------------------------------------------------------------------------
 * 2.0 - Dashicons
 *----------------------------------------------------------------------------*/
.bp-hello-social li a:before {
	color: #23282d;
	/* wp toolbar */
	font: 400 30px/0.6 dashicons;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: none !important;
}

.bp-hello-social li a:hover:before {
	transition: all 0.1s ease-in-out;
	color: var(--bp-hello-color-primary);
}

.bp-hello-social li a.support:before {
	content: "\f448";
}

.bp-hello-social li a.twitter:before {
	content: "\f301";
}

div.dashicons {
	width: -moz-fit-content;
	width: fit-content;
}

div.dashicons.big {
	font-size: 128px;
	display: block;
	color: var(--bp-hello-color-primary);
	height: 128px;
	width: 128px;
}

/*------------------------------------------------------------------------------
 * 3.0 - Elements
 *----------------------------------------------------------------------------*/
/*
 * 3.1 - Modal footer
 */
#plugin-information-footer {
	display: flex;
	flex-wrap: wrap;
	padding: 0 16px;
	height: auto;
}

#plugin-information-footer .dashicons-heart {
	color: #be3631;
}

.bp-hello-social-cta,
.bp-hello-social-links {
	flex-basis: 50%;
}

.bp-hello-social-links ul {
	display: inline-block;
}

.bp-hello-social li {
	position: relative;
	bottom: -5px;
	display: inline-block;
	list-style-type: none;
	margin-bottom: 0;
}

.bp-hello-social li:last-child a {
	margin-right: 4px;
}

/*
 * 3.2 - Modal content
 */
#bp-hello-container {
	display: none;
}

.bp-hello-content {
	padding: 0 25px;
	padding-bottom: 20px;
}

#dynamic-content {
	padding-bottom: 40px;
	display: none;
}

#dynamic-content.show {
	display: block;
}

.plugin-details-modal #TB_title {
	/* stylelint-disable-line */
	height: 0;
	background: none;
	border: none;
}

#TB_window.plugin-details-modal.thickbox-loading:before {
	/* stylelint-disable-line */
	z-index: 10;
	margin-top: 40px;
	background-color: none;
}

.bp-hello-aligncenter * {
	margin: 10px auto;
}

.bp-hello-alignleft {
	float: right;
}

.bp-hello-alignleft:after {
	content: "";
	clear: right;
}

.bp-hello-alignright {
	float: left;
}

.bp-hello-alignright:after {
	content: "";
	clear: left;
}

.bp-hello-divider {
	clear: both;
	border: none;
	margin-bottom: 20px;
}

/*------------------------------------------------------------------------------
 * 4.0 - Content styles
 *----------------------------------------------------------------------------*/
/*
 * 4.1 - Footer content
 */
.bp-hello-social-cta {
	text-align: right;
}

.bp-hello-social-links {
	text-align: left;
}

.bp-hello-social li a {
	text-decoration: none;
}

.bp-hello-social li a.bp-tooltip:after {
	bottom: 120%;
	margin-bottom: 20px;
	margin-top: 0;
	top: auto;
	transform: translateX(85%);
}

/*
 * 4.2 - Header content
 */
#plugin-information-title.with-banner {
	background-image: url(https://ps.w.org/buddypress/assets/banner-772x250.png);
}

#plugin-information-title h1 {
	font-size: 1em;
	font-weight: 600;
	padding: 0;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#plugin-information-title.with-banner h1 {
	position: relative;
	font-family: "Helvetica Neue", sans-serif;
	display: inline-block;
	font-size: 20px;
	line-height: 1.68;
	box-sizing: border-box;
	max-width: 85%;
	padding: 0 15px;
	margin-top: 30px;
	color: #fff;
	background: rgba(30, 30, 30, 0.9);
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
	border-radius: 8px;
}

/*
 * 4.3 - Content content
 */
.bp-hello-content {
	background-color: white;
}

/*------------------------------------------------------------------------------
 * 5.0 - Media
 *----------------------------------------------------------------------------*/
.bp-hello-content img {
	border-radius: 2px;
	max-width: 100%;
}

.bp-hello-content iframe {
	width: 100%;
}

.bp-hello-content .bp-hello-alignleft img,
.bp-hello-content .bp-hello-alignright img {
	max-width: 200px;
}

/*------------------------------------------------------------------------------
 * 6.0 - Media Queries
 *----------------------------------------------------------------------------*/
@media screen and (min-width: 770px) {
	#plugin-information-title.with-banner h1 {
		font-size: 30px;
		line-height: 2;
		margin-top: 174px;
		max-width: 100%;
	}
}

/*
 * 6.1 - Desktop Medium
 */
@media only screen and (min-width: 1024px) {
	.bp-hello-content {
		padding: 0 30px 20px;
	}
	.bp-hello-content p {
		font-size: 14px;
	}
}

/**
 * 6.2 - Desktop Large
 */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
	#plugin-information-title.with-banner {
		background-image: url(https://ps.w.org/buddypress/assets/banner-1544x500.png);
	}
}
