
/***********************************************************
 Global Reset
************************************************************/

*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ul { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight: normal; }
q:before, q:after { content:'' }
a { text-decoration:none }
strong { font-weight:bold }
em { font-style:italic }
* a { position:relative }
a img { border:none }
* { outline: none; }

/***********************************************************
 Let the games begin...
************************************************************/

html {
	background: #fff;
	font-size: 11px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, Verdana, Arial, sans-serif;
}

body {
	background: #fff;
	font-size: 12px;
	color: #555;
	line-height: 170%;
	min-width: 960px;
	max-width: 1300px;
	margin: 0 auto;
}

div.clear {
	clear: both;
}

a { color: #f7740a; text-decoration: underline; }
a:hover { color: #555; text-decoration: none; }
a.selected { color: #555; text-decoration: none; }

/*** SEARCH / LOGIN BAR **********/

#search-login-bar {
	border-top: 10px solid #f7740a;
	background: #fff9df;
	padding: 7px 20px;
}
	#search-login-bar #search-form {
		float: left;
		margin-top: 1px;
	}
		#search-login-bar #search-terms {
			width: 200px;
			margin-right: 4px;
			color: #888;
		}

		#search-login-bar #search-which {
			margin-right: 2px;
		}

	#search-login-bar #login-form, #logout-link {
		float: right;
	}
	
	#logout-link img {
		vertical-align: middle;
	}


/*** HEADER **********/

#header {
	padding: 25px 20px;
}
	#header h1 a {
		text-indent: -999em;
		background: url(../images/logo.gif) top left no-repeat;
		overflow: hidden;
		width: 214px;
		height: 35px;
		display: block;
		float: left;
	}
	
	#header ul {
		float: right;
		margin: 7px 0 0 0;
	}
		#header ul li {
			float: left;
			margin: 0 0 0 18px;
		}
			#header ul li a {
				background: #f0f0f0;
				color: #555;
				display: block;
				padding: 2px 15px;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				text-decoration: none;
			}
			
			#header ul li.selected a {
				background: #fff9df;
				color: #ff7900;
				font-weight: bold;
			}


/*** CONTENT **********/

#content {
	padding: 0 20px;
}

h3 {
	font: normal 1.6em "Georgia", Times, serif;
	margin: 0 0 10px 0;
}

div.create-account {
	margin: 10px 0;
	text-align: right;
}

/*** WIDGETS **********/

.widget {
	margin: 0 0 25px 0;
}

h2.widgettitle {
	padding: 3px 8px;
	margin-bottom: 5px;
	height: 36px;
	font-weight: bold;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

	h2.widgettitle a {
		text-decoration: none;
		color: #555;
	}

	h2.widgettitle img {
		vertical-align: middle;
		margin-right: 4px;
	}

	.widget_bp_core_welcome_widget h2 {
		background: url(../images/welcome_header_back.gif) top left no-repeat !important;
		color: #fff !important;
	}

.widget ul.item-list li, .activity-list {
	background: url(../images/item_list_back.gif) top left repeat-x;
	padding: 15px;
}
	.activity-list { padding: 0; border: 1px solid #fff; margin-top: -1px; }
	
	.widget ul.item-list {
		margin-top: 5px !important;
	}
	
	.widget ul.item-list li .item-avatar img, img.avatar {
		border: 3px solid #ddd;
	}
	
	.widget ul.item-list li h4.item-title {
		font: normal 1.4em "Georgia", Times, serif;
		margin: 0 0 7px 0;	
	}
	
	.widget_bp_blogs_widget_recent_posts img.avatar {
		width: 50px !important;
		height: 50px !important;
	}	
	
	.widget ul.item-list li .item {
		margin-left: 71px;
	}
		.widget_bp_blogs_recent_posts_widget ul.item-list li .item {
			margin-left: 31px !important;
		}
	
	.widget ul.item-list li .item-meta {
		font: normal 1em "Georgia", Times, serif;
		margin: 10px 0;
	}
	
	.widget .item-options {
		text-align: right;
		font-size: 0.9em;
		margin: -15px 0 0 0;
	}
	
	.widget_bp_core_widget_whos_online .item-avatar {
		float: left;
		margin-right: 10px;
	}
	
.widget-error {
	padding: 10px;
	background: #fff9df;
}

span.activity {
	color: #888;
	background: #FFF9DB;
	padding: 4px 6px;
	border-right: 1px solid #FFE8C4;
	border-bottom: 1px solid #FFE8C4;
	display: inline-block;
	font-size: 9px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, Verdana, Arial, sans-serif;
	margin: -5px 0 0 0;
}

div.avatar-block {
	padding: 0 15px;
}

.bp_core_widget_whos_online img {
	margin-bottom: 15px !important;
}

.widget table#wp-calendar {
	width: 100%;
}

.widget table#wp-calendar caption {
	text-align: center;
	font-size: 1.2em;
	font-family: georgia, times, serif;
	padding-bottom: 10px;
}

.widget table#wp-calendar th {
	text-align: center;
	font-weight: bold;
}

.widget table#wp-calendar td {
	background: #eee;
	border: 2px solid #fff;
	text-align: center;
}
	.widget table#wp-calendar td:hover {
		background: #ccc;
		cursor: pointer;
	}
	
	.widget table#wp-calendar td#today {
		background: #fff9df;
	}
	
	.widget table#wp-calendar td.pad {
		background: none;
	}

.widget #ajax-loader-members, .widget #ajax-loader-groups {
	padding-right: 5px;
	float: none !important;
}

/** ACTIVITY FEED **********/

.widget_bp_activity_widget {
	float: left;
	width: 100%;
}

.activity-list {
	padding: 0 5px;
	clear: left;
}

.activity-list li {
	margin: 15px;
	padding-left: 21px;
}
	.activity-list li.blogs, ul#activity-filter-links li#afilter-blogs a {
		background: url(../images/blog_bullet.gif) 0 4px no-repeat;		
	}
	
	.activity-list li.profile, ul#activity-filter-links li#afilter-profile a {
		background: url(../images/profile_bullet.gif) 0 4px no-repeat;
	}

	.activity-list li.friends, ul#activity-filter-links li#afilter-friends a {
		background: url(../images/friends_bullet.gif) 0 4px no-repeat;
	}
	
	.activity-list li.groups, ul#activity-filter-links li#afilter-groups a {
		background: url(../images/groups_bullet.gif) 0 4px no-repeat;
	}
	
	.activity-list li.wire, ul#activity-filter-links li#afilter-wire a {
		background: url(../images/wire_bullet.gif) 0 4px no-repeat;
	}

	.activity-list li.status, ul#activity-filter-links li#afilter-status a {
		background: url(../images/status_bullet.gif) 0 4px no-repeat;
	}

.activity-list li blockquote {
	padding: 7px 15px 7px 40px;
	background: url(../images/quotes_background.gif) 10px 9px no-repeat #eee;
	margin: 5px 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.activity-list li span.time-since {
	font-size: 0.8em;
	color: #999;
}

.widget_bp_activity_widget ul#activity-filter-links {
	background: url(../images/item_list_back.gif) top left repeat-x;
	padding: 15px;
	min-height: 22px;
}

.widget_bp_activity_widget ul#activity-filter-links li {
	float: left;
}
	.widget_bp_activity_widget ul#activity-filter-links li a {
		display: block;
		padding: 2px 8px 2px 30px;
		background-color: #fff !important;
		background-position: 8px 6px !important;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		margin: 0 5px 0 0;
		border: 1px solid #eee;
		text-decoration: none;
	}
		.widget_bp_activity_widget ul#activity-filter-links li a.selected {
			border: 1px solid #ccc;
			font-weight: bold;
		}
		
		ul#activity-filter-links li#afilter-clear a {
			background: url(../images/error_icon.gif) 0 4px no-repeat;
			border-color: #ffa6ac;
			color: #ff5560;
		}

/*** LEFT COLUMN **********/

#left-column {
	margin-right: 560px;
}
	#left-column.span-two {
		margin-right: 280px;
	}

	#left-column .widget h2, .narrowcolumn h2.widgettitle {
		background: url(../images/leftcol_header_back.gif) top left no-repeat;
	}
	
#center-column {
	float: right;
	width: 260px;
	margin-right: 20px;
}

	#center-column .widget h2 {
		background: url(../images/centercol_header_back.gif) top left no-repeat;
		color: #fff;
	}

#right-column {
	float: right;
	width: 260px;
}

	#right-column .widget h2, #sidebar h2.widgettitle {
		background: url(../images/rightcol_header_back.gif) top left no-repeat;
		color: #fff;
	}

#sidebar .widget ul, .widget_rss ul, .widget_pages ul, .widget_links ul,
.widget_meta ul, .widget_categories ul, .widget_archive ul {
	padding-left: 15px;
}
	#sidebar .widget ul.item-list {
		padding: 0;
	}

	#sidebar .widget li, .widget_rss ul li, .widget_pages ul li, .widget_archive ul li,
	.widget_links li, .widget_meta li, .widget_categories li {
		list-style-type: square;
		margin-left: 16px;
		padding-left: 5px;
		margin-bottom: 5px;
	}
		#sidebar .widget ul.item-list li {
			list-style-type: none;
			margin: 0;
			padding: 15px;
		}


/** NEWS BLOG STYLES *********/

.narrowcolumn {
	width: 65%;
	float: left;
	margin: 0;
}

.alignleft { float: left; }
.alignright { float: right; }

.item-options {
	padding: 5px;
	height: 15px;
}

.post, #comments-section, #compose-reply {
	background: url(../images/item_list_back.gif) top left repeat-x;
	padding: 20px 15px;	
	clear: both;
}
	#comments-section, #compose-reply {
		background: none;
	}
	
	ol#comments { list-style: none; }

.post p {
	margin-top: 15px;
}

.post ul {
	list-style-type: disc;
	padding-left: 15px;
	margin-top: 15px;
}

#sidebar {
	margin-left: 70%;
	margin-right: 20px;
}

.post h3 {
	font: normal 1.6em Georgia, times, serif;
	border: none;
	padding: 0;
	margin: 0;
}
	.post h3 a {
		color: #555;
	}

.post p.date, .small, h3 span {
	color: #888;
	font-size: 0.95em;
}
	.post p.date em {
		color: #f7740a;
		font: italic 1em Georgia, times, serif;
	}

.post .entry {
	margin: 10px 0;
}
	
.post span.tags {
	background: url(../images/tag_icon.gif) center left no-repeat;
	padding-left: 1.6em;
	float: left;
}

.post span.comments {
	float: right;
	background: url(../images/comments_icon.gif) center right no-repeat;
	padding-right: 2.1em;
}

.postmetadata {
	padding: 0.5em 0;
}

.post-details {
	background: #f0f0f0;
	padding: 1em 1.5em;
	margin: 0 0 2em 0;
}

h4.archive {
	font: normal 1.2em Georgia, Times, serif;
	text-transform: uppercase;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 0.5em;
	margin: -1em 0 1em 0;
}


/**** POST CONTENT STYLES (WORDPRESS STYLES) *****/

	.entry blockquote { width: 230px; font-style: normal !important; font-size: 1.1em !important; margin: 5px 15px 5px 0 !important; padding: 0.5em !important; background: #eee; text-align: center; float: left; }
	.entry blockquote.right { width: 230px; font-style: normal !important; font-size: 1.3em !important; margin: 5px 0 5px 15px !important; padding: 0.5em !important; background: #eee; border-width: 3px 0; text-align: center; float: right; }

	.entry p { margin: 0 0 15px 0; }

	.entry ul, .entry ol { margin: 0 0 15px 40px; }
	.entry ul { list-style: disc; }

		.entry li { margin: 0 0 5px 0; }
			.entry ul li ul, .entry ul li ol, .entry ol li ul, .entry ol li ol { margin: 5px 0 5px 30px; }

	.entry dl { margin: 0 0 15px 0; }
		.entry dt { font-weight: bold; }
		.entry dd { margin: 0 0 15px 20px; }
		.entry .gallery dd { margin: 0; }

	.entry .ad { margin: 0 0 15px 15px; float: right; }

	.entry .ad_left { margin: 0 15px 15px 0; float: left; }

	.entry a img { border: 0; }

	.entry img.left { padding: 3px; margin: 5px 15px 5px 0; border: 3px double #bbb; float: left; clear: left; }

	.entry img.right { padding: 3px; margin: 5px 0 5px 15px; border: 3px double #bbb; float: right; clear: right; }

	.entry img.center { display: block; padding: 3px; margin: 0 auto 15px auto; border: 3px double #bbb; float: none; clear: both; }

	.entry img.off { padding: 0 !important; border: none !important; }

	.entry img.stack { clear: none !important; }

	.entry img.wp-smiley { padding: 0 !important; margin: 0 !important; border: none !important; float: none !important; clear: none !important; }

	.entry img.centered, img.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.entry img.alignright {
		padding: 4px;
		margin: 0 0 2px 7px;
		display: inline;
	}

	.entry img.alignleft {
		padding: 4px;
		margin: 0 7px 2px 0;
		display: inline;
	}

	.entry .alignright {
		float: right;
	}

	.entry .alignleft {
		float: left;
	}
	
	.entry .aligncenter, .entry div.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.entry .wp-caption {
		border: 1px solid #ddd;
		text-align: center;
		background-color: #f3f3f3;
		padding-top: 4px;
		margin: 10px;
		-moz-border-radius: 3px;
		-khtml-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
	}

	.entry .wp-caption img {
		margin: 0;
		padding: 0;
		border: 0 none;
	}

	.entry dd.wp-caption p.wp-caption-text, .entry .wp-caption p.wp-caption-text {
		font-size: 11px;
		line-height: 17px;
		padding: 0 4px 5px 0;
		margin: 0;
	}

/*** COMMENT FORM STYLES ****/

textarea#comment {
	width: 100%;
}

#commentform { padding: 1em 1.5em; }
#commentform textarea { width: 100%;}
#comment-textarea { float: right; width: 80%; }

.comment-details { float: left; width: 20%; }
.comment-content { float: right; width: 80%; }

.commentlist li {
        padding: 15px;
        background: #fff;
        margin-bottom: 1em;
}
	.commentlist li.alt { background: #f0f0f0; }
	.commentlist li img.avatar { padding: 0 !important; }
	.commentlist li.alt img.avatar { border-color: #fff !important; }

.commentmetadata { 
        font-size: 0.9em;
        border-top: 1px solid #ddd;
        padding-top: 0.3em;
		margin-top: 1em;
}
	.commentmetadata a { color: #888; }

#commentform input, #commentform textarea {
	margin: 0 5px 8px 0;
}

/***** SIGNUP FORM *******/

#setupform {
	padding: 10px;
	float: left;
}
	#setupform h3 {
		margin-top: 20px;
	}

#setupform input, #setupform textarea, #activateform input {
	width: 95%;
	padding: 7px 5px;
	font-size: 1.2em;
}
	#setupform input[type='radio'], #setupform input[type='checkbox'] { width: auto; }
	#setupform select {
		padding: 3px;
	}
	
	input#submit {
		width: auto;
		margin-top: 20px;
		font-size: 1.2em;
	}

#setupform label, div.radio span.signup-label, 
div.checkbox span.signup-label {
	display: block;
	font-family: Georgia, times, serif;
	font-size: 1.3em;
	margin: 15px 0 5px 0;
}

p#intro-text, p#extra-fields-help, p#avatar-help-text, p#blog-help-text, p#blog-details-help {
	margin-bottom: 15px;
}

p.help-text, span.desc {
	font-size: 11px;
	color: #888;
	padding-top: 5px;
}

div.field-box, div.mu_alert, div#account-fields, div#extra-form-fields, 
div.avatar-field, div#blog-or-username-fields, div#blog-details-fields {
	background: #eee;
	padding: 5px 15px 15px 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
	div.field-box { padding-top: 15px; }
	
	#signup-welcome {
		width: 420px !important;
		margin: 20px 0;
	}

div.avatar-field {
	padding-top: 1px;
}

div#blog-or-username-fields {
	padding: 18px 15px 5px 15px;
}
	div#blog-or-username-fields p {
		padding-bottom: 10px;
	}
	
	div#blog-or-username-fields label {
		margin-left: 3px;
	}

div#extra-fields, div#avatar-form-fields, div#blog-or-username {
	margin-top: 30px;
}

div.mu_alert {
	padding-top: 15px;
	margin-bottom: 15px;
}

p.error, div.error {
	padding: 7px 10px;
	margin: 0 0 10px 0;
}
	div.error {
		margin: 10px 0 4px 0 !important;
	}

div#extra-fields select {
	width: 280px;
	font-size: 1.4em;
}

div#extra-fields div.datefield select {
	width: auto;
}

div#extra-fields div.radio label,
div#extra-fields div.checkbox label,
div#blog-or-username-fields label {
	display: inline !important;
	font-weight: normal;
	float: none;
	padding: 0 !important;
	margin-right: 15px;
	font-size: 1.1em;
	font-family: "Lucida Grande", "Lucida Sans Unicode", verdana, arial, sans-serif;
}

div#signup-welcome {
	font: normal 1.2em georgia, times, serif;
}
	div#signup-welcome span.label {
		font-weight: bold;
	}

div.crop-img, div.crop-preview img {
	padding: 4px;
	background: #f0f0f0;
	border: 1px solid #ddd;
}
	div.crop-img {
		float: left;
		margin-right: 15px;
	}

#avatar-cropper h4 {
	font-weight: bold;
	font-size: 1.1em;
	margin-bottom: 5px;
	margin-top: 20px;
}

#avatar_v1 p, #avatar_v2 p {
	margin-bottom: 20px;
}

#avatar_v1 p.submit, #avatar_v2 p.submit {
	margin-top: 20px;
}

p.crop-preview {
	font-size: 1.2em;
}

/**** PAGINATION ******/

.pagination-links {
	text-align: right;
	margin-bottom: 5px;
}
	.pagination-links .page-numbers {
		padding: 0.65em 0.7em;
		height: 24px;
	}
	
	.pagination-links .current {
		padding: 0.5em 0.7em;
	}

a.page-numbers:hover { background: #e1e1e1; }

	.pagination-links .current {
		background: #d5d5d5;
		border-bottom: 2px solid #f28935;
	}
		
.pag-count {
	font-size: 0.9em;
	color: #888;
	float: left;
}

/***** FEEDBACK MESSAGES ******/

#message {
	background: #ddffc4;
	margin: 0 0 2em 0;
}
	#message p {
		color: #357c00;
		padding: 1em 2.75em;
		background: url(../images/info_icon.gif) 1em 1.1em no-repeat;
	}

#message.error, p.error, div.error {
	background: #ff3a3a url(../images/error_back.gif) top left repeat-x;
	color: #fff;
}
	#message.error p {
		background-image: url(../images/error_icon.gif);
		color: #fff;
	}

#message.info {
	background-image: none;
	background-color: #fcfcd0;
	color: inherit;
}
	#message.info p {
		background-image: url(../images/info_icon.gif);
		color: inherit;
		padding-left: 3.3em;
	}

/***** BUTTONS ********/

.generic-button {
	background: url(../images/button_back.gif) top left no-repeat;
	display: inline-block;
	margin: 0 5px 8px 0;
}

.generic-button a {
	display: block;
	height: 19px;
	color: #777;
	font-size: 11px;
	padding: 0 33px 0 11px;
	margin-right: -7px;
	text-shadow: 0 1px 0 #fff;
		text-decoration: none;
}
	.generic-button a:hover {
		color: #555;
		text-decoration: none;
	}

	.generic-button a {
		background: url(../images/view_button_side.gif) top right no-repeat;
	}


/***** FOOTER *********/

#footer {
	background: #f0f0f0;
	padding: 15px;
	text-align: center;
	margin-top: 30px;
	font: normal 1.1em Georgia, times, serif;
}