// BP User settings screens
// @since 3.0.0
// @version 5.0.0 Add data export settings screen rules.

// 1. Settings Global
// 1. General (email/password change)
// 2. Email notifications
// 3. Profile visibility
// 4. group Invites

// Settings Global

/*__ Settings Global __*/

// required extra specificity to override later table settings
.buddypress.settings {

	.profile-settings.bp-tables-user {

		select {
			width: 100%;
		}
	}

}


// General

/*__ General __*/
body.buddypress.settings {

	.wp-pwd button {
		vertical-align: middle;
	}

	#pass1,
	#pass1-text,
	#pass-strength-result {
		width: 16em;
	}

	#pass1 {
		display: inline-block;
		margin-bottom: inherit;
	}

	#pass1-text,
	.pw-weak,
	#pass-strength-result {
		display: none;
	}

	.show-password {

		#pass1-text {
			display: inline-block;
			margin-bottom: inherit;
		}

		#pass1 {
			display: none;
		}
	}

	#your-profile {

		#submit:disabled {
			color: $light-text;
			opacity: 0.4;
		}
	}
}

body.buddypress.settings.js {

	.wp-pwd,
	.user-pass2-wrap {
		display: none;
	}
}

body.buddypress.settings.no-js {

	.wp-generate-pw,
	.wp-cancel-pw,
	.wp-hide-pw {
		display: none;
	}
}

// Email notifications

/*__ Email notifications __*/


// Profile visibility

/*__ Profile visibility __*/

// Group Invites

/*__ Group Invites __*/

// Data Export

/*__ Data Export __*/
body.buddypress.settings.data {

	#buddypress.buddypress-wrap {

		.item-body {

			p {

				a {
					text-decoration: underline;
				}
			}
		}
	}
}
