// BP Whats new form handles user updates to groups or profiles
// @since 3.0.0
// @version 5.0.0

.activity-update-form {
	padding: 10px 10px 0;
}

.item-body {

	.activity-update-form {

		.activity-form {
			margin: 0;
			padding: 0;
		}
	}
}

.activity-update-form {
	border: 1px solid $bp-border-dark;

	@include box-shadow( inset 0 0 6px #eee);

	margin: $marg-med 0;

	#whats-new-avatar {
		margin: $marg-sml 0;
		text-align: center;

		img {
			box-shadow: none;
			display: inline-block;
			height: auto;
			width: auto;
		}
	}

	// these ID's need replacing with this!
	//.content-wrap { // #whats-new-content

	#whats-new-content {
		padding: 0 0 $marg-lrg 0;
	}

	// these ID's need replacing with this!
	//.textarea-wrap { // #whats-new-textarea

	#whats-new-textarea {

		textarea {
			background: $textarea-bck;

			@include box-model();
			color: #333;
			font-family: inherit;
			font-size: medium;
			height: 2.2em;
			line-height: 1.4;
			padding: 6px;
			width: 100%;

			&:focus {

				@include box-shadow(0 0 6px 0 $med-light-grey);
			}
		}
	}

	#whats-new-post-in-box {
		margin: $marg-sml 0;

		#whats-new-post-in-box-items {
			list-style: none;
			margin: $marg-sml 0;
			padding-left: 0;

			li {
				margin-bottom: $marg-sml;
			}

			button.bp-remove-item {
				margin-left: $marg-sml;
				height: auto;
			}

			#activity-autocomplete {
				padding: 0.3em;
				width: 100%;
			}

			.bp-activity-object {

				@include center-vert();
				padding: 0.2em;

				.avatar {
					width: 30px;
					height: 30px;
				}

				span {
					padding-left: $marg-sml;
					vertical-align: middle;
				}

				&:focus,
				&:hover {
					background: $light-grey;
					cursor: pointer;
				}

				&.selected {
					border: 1px solid $med-light-grey;
				}
			}
		}

	}

	#whats-new-submit {
		margin: $marg-med 0 $marg-sml;

		input {

			@include font-size(14);
			line-height: inherit;
			margin-bottom: $marg-sml;
			margin-right: $marg-sml;
			padding: 0.2em 0;
			text-align: center;
			width: 100%;
		}
	}

	@include medium-up() {

		#whats-new-avatar {
			display: block;
			float: left;
			margin: 0;
		}

		#whats-new-content,
		#whats-new-post-in-box,
		#whats-new-submit {
			margin-left: 55px;
		}

		#whats-new-submit {

			input {
				margin-bottom: 0;
				margin-right: $marg-sml;
				width: 8em;
			}
		}
	} // close @media
}
