.bp-dynamic-block-container {

	.item-options {
		font-size: 0.5em;
		margin: 0 0 1em;
		padding: 1em 0;

		a.selected {
			font-weight: 600;
		}
	}

	ul.item-list {
		list-style: none;
		margin: 1em 0;

		li {
			margin-bottom: 1em;

			&:before,
			&:after {
				content: " ";
				display: table;
			}

			&:after {
				clear: both;
			}

			.item-avatar {
				float: left;
				width: 60px;
			}

			.item {
				margin-left: 70px;
			}
		}
	}
}
