<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="default">
			<directory suffix=".php">./tests/phpunit/testcases/</directory>

			<exclude>./tests/phpunit/testcases/blogs/rest-endpoint.php</exclude>
			<exclude>./tests/phpunit/testcases/blogs/blog-avatar-rest-endpoint.php</exclude>
		</testsuite>
	</testsuites>
</phpunit>
