#wp-bp-activities-wrap {
	padding: 5px 0;
}
#bp-activities {
	height: 120px;
}
#bp-replyhead {
	font-size: 1em;
	line-height: 1.4em;
	margin: 0;
}
#bp-replysubmit {
	margin: 0;
	padding: 0 0 3px;
	text-align: center;
}
#bp-replysubmit .error {
	color: red;
	line-height: 21px;
	text-align: center;
	vertical-align: center;
}
#bp-replysubmit img.waiting {
	float: right;
	padding: 4px 10px 0;
	vertical-align: top;
}
#bp-activities-form .column-response img {
	float: left;
	margin-right: 10px;
	margin-top: 1px;
}

#wp-bp-activities-content-wrap {
	margin-top: 20px;
}
#post-body #bp-activities-action_resize,
#post-body #bp-activities-content_resize {
	position: inherit;
	margin-top: -2px;
}
#bp_activity_link input {
	width: 99%;
}
#bp-activities-primaryid {
	margin-bottom: 1em;
}