body { padding-top: 28px; }

#wp-admin-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1001;
	height: 28px;
}

#wp-admin-bar * { z-index: 999; }

#wp-admin-bar div#admin-bar-logo {
	position: absolute;
	top: 8px;
	left: 10px;
}

#wp-admin-bar a img {
	border: none;
}

#wp-admin-bar li {
	list-style: none;
	margin: 0;
}

#wp-admin-bar li a {
	padding: 7px 15px 9px 15px;
}
	#wp-admin-bar li.no-arrow a {
		padding-right: 15px;
	}

#wp-admin-bar li:hover, #wp-admin-bar li.hover {
	position: static;
}
	#wp-admin-bar ul li ul li a span {
		display: none;
	}

#admin-bar-logo {
	float: left;
	font-family: Georgia, Times, serif;
	font-style: italic;
	font-size: 14px;
	padding: 5px 8px;
	margin: 0;
}

/*******************/

#wp-admin-bar ul { /* all lists */
	margin: 0;
	list-style: none;
	line-height: 1;
	cursor: pointer;
	height: auto;
	padding: 0;
}

#wp-admin-bar ul li { /* all list items */
	padding: 0;
	float: left;
	position: relative;
}
	#wp-admin-bar ul li.no-arrow {
		background: none;
	}

#wp-admin-bar ul li.align-right {
	position: absolute;
	right: 0;
}

#wp-admin-bar ul li a {
	display: block;
}

/* second-level lists */

#wp-admin-bar ul li ul {
	position: absolute;
	width: 185px;
	left: -999em;
	margin-left: 0;
}

#wp-admin-bar ul li ul li {
	float: left;
	width: 183px;
	margin: 0;

}

#wp-admin-bar ul li div.admin-bar-clear {
	clear: both;
}

/* third-and-above-level lists */

#wp-admin-bar ul li ul ul {
	margin: -28px 0 0 183px;
}

#wp-admin-bar ul li:hover ul, #wp-admin-bar ul li li:hover ul, #wp-admin-bar ul li.sfhover ul, #wp-admin-bar ul li ul li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}

#wp-admin-bar ul li.align-right:hover ul {
	right: 0;
}

#wp-admin-bar ul li:hover ul ul, #wp-admin-bar li.sfhover ul li ul {
	left: -999em;
}


/* Menu item css */

#wp-admin-bar img.avatar {
	float: left;
	margin-right: 8px;
}

#wp-admin-bar span.activity {
	display: block;
	margin-left: 34px;
	padding: 0;
}


#wp-admin-bar ul.author-list li {
	height: 55px;
}

#wp-admin-bar ul li#bp-adminbar-notifications-menu a span {
	padding: 0 6px;
	margin-left: 2px;
}