.widget_bp_blogs_recent_posts_widget ul.item-list {
	margin: 15px 0 0 0;
	padding: 0;
	list-style: none;
}
	
	.widget_bp_blogs_recent_posts_widget ul.item-list li {
		min-height: 60px;
	}
	
	.widget_bp_blogs_recent_posts_widget ul.item-list li .item-meta {
		margin-left: 10px;
	}
		.widget_bp_blogs_recent_posts_widget ul.item-list li .item h4.item-title {
			clear: none !important;
		}
	
	.widget_bp_blogs_recent_posts_widget ul.item-list li .item-avatar { 
		float: left;
		margin: 0 10px 0 0;
	}
		.widget_bp_blogs_recent_posts_widget ul.item-list li .item-avatar img.avatar {
			width: 25px;
			height: 25px;
		}
	
	.widget_bp_blogs_recent_posts_widget ul li em {
		font-size: 11px;
	}
