body { min-width: 600px; }

#container {
	overflow: hidden;
}

.internal-page #content, #userbar, #optionsbar {
	position: relative;
	float: left;
	padding-bottom: 20010px !important;  /* X + padding-bottom */
	margin-bottom: -20000px !important;  /* X */
}

#userbar, #optionsbar {
	width: 140px;
}

.internal-page #content {
	float: none;
	margin-left: 285px;
}