table#message-threads {
	width: 100%;
}
	table#message-threads tr td, .message-box {
		padding: 1em;
	}
		table#message-threads tr td p {
			margin: 0;
		}
				
.avatar-box { 
	float: left;
	border: none !important;
}

.message-box {
	padding: 15px 10px;
	padding-left: 135px;
	min-height: 140px;
}
	.message-box .avatar-box {
		float: left;
		width: 110px;
		margin: 0 0 0 -125px;
	}
		#main #content .avatar-box h3 {
			margin: 1em 0 0 0;
		}
		
		.avatar-box small {
			line-height: 1.5;
		}
		
	#message_content_tbl { border: 1px solid #ddd; }
	.mceToolbar, .mceStatusbar { background: #eee; }
	
	#send_reply_button { margin: 1.5em 0 0 0;}
	
	div.ajax_reply, div.error-box {
		text-align: center;
		padding: 15px;
	}
		div.div.ajax_reply img, div.error-box img { vertical-align: middle; }
	
	#send_message_form {
		margin-top: -1em;
	}
	
	#main #content #send_message_form h3 {
		margin: 0;
	}
	
	#send_message_form input {
		width: 45%;
		padding: 0.2em;
		margin: 0 0 0.5em 0;
	}
	
	#send_message_form textarea {
		width: 100%;
		padding: 0.2em;	
	}
	
	#send_message_form input#send {
		width: auto;
		font: normal 1em inherit;
		margin-top: 1.5em;
	}
	
	span.unread-count {
		padding: 0 0.5em;
	}
		.read .unread-count { display: none; }
	
	.messages-options {
		float: right;
		padding: 0 3em 0 0;
		margin-top: -2px;
	}
		.messages-options select { width: auto; }
	
	.notices td { vertical-align: top; }
	.notice {
		position: relative;
		padding: 1.2em;		
	}
	
	.notice a#close-notice {
		position: absolute;
		top: 1em;
		right: 1.2em;
	}
	
	.notice h5 {
		margin: 0 0 0.8em 0;
	}