/**** FRIENDS *****************/

	ul#friend-list li {
		background: url(../images/message_thread_back.gif) top left repeat-x;
	}
		
		span.activity {
			position: relative;
			color: #888;
			font-size: 0.9em;
			background: #FFF9DB;
			padding: 4px 6px;
			border-right: 1px solid #FFE8C4;
			border-bottom: 1px solid #FFE8C4;
			top: 2px;
		}
		
	#predefined-lists li {
		padding: 0.25em 0;
	}

	label#friend-search-label {
		font-size: 0.9em;
	}