/**** GROUPS *****************/

	div.sub-options {
		border-left: 8px solid #eee;
	}

	div#skip-continue {
		border-top: 1px solid #ddd;
	}
		div#skip-continue input {
			font-size: 1em;
		}

	ul#group-list li, ul#member-list li, ul#blog-list li, ul#comment-list li, ul.item-list li {
		background: url(../images/message_thread_back.gif) top left repeat-x;
	}
		ul.item-list li.banned-user img.avatar {
			border-color: red !important;
		}
			ul.item-list li.banned-user a { color: red; }
		
	#group-list li span.small, #member-list li span.small, #comment-list li span.small, ul.item-list li span.small {
		font-size: 0.95em;
		color: #888;
	}
		h5 span.small a { color: #888; text-decoration: underline; }
	
	#group-list p.desc, ul.item-list p.desc {
		font-size: 0.9em;
	}
	
	#group-admins img.avatar {
		border-width: 3px;
	}
	
	.request-pending {
		text-transform: uppercase;
		font: normal 0.9em Georgia, Times, serif;
		color: #888;
		letter-spacing: 0.5px;
	}
	
	#random-groups-list .item-meta {
		margin: 10px 0;
		width: 45%;
		line-height: 180%;
	}
		#random-groups-list .desc, #random-groups-list .meta {
			font-size: 0.9em;
		}
		
		#random-groups-list .desc {
			margin-left: 70px;	
		}
		
		#random-groups-list .action {
			text-align: right;
			margin-top: -20px;
			padding-right: 10px;
		}
	
	#invite-list {
		height: 275px;
		overflow: auto;
		border: 1px solid #ccc;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		padding: 5px;
		background: #f5f5f5;
		width: 160px;
	}
