/**** MESSAGING *****************/

		table#message-threads tr, .message-box {
			background: url(../images/message_thread_back.gif) top left repeat-x;
		}
		
		table#message-threads tr.unread {
			background-image: url(../images/message_thread_unread_back.gif);
		}
			td p.date {
				color: #888;
				font-size: 0.95em;
			}
					
	.avatar-box { 
		border: none !important;
	}
	
			#main #content .avatar-box h3 {
				font: bold 1em "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, Verdana, Arial, sans-serif;;
			}
			
			.avatar-box small {
				line-height: 1.5;
				font-size: 0.9em;
				color: #888;
			}
			
		#message_content_tbl { border: 1px solid #ddd; }
		.mceToolbar, .mceStatusbar { background: #eee; }
		.mceToolbar a { color: #bbb !important; }
				
		div.ajax_reply, div.error-box {
			text-align: center;
			background: #EAF3FA;
			color: #2583AD;
		}
		
		div.error-box {
			background-image: url(../images/error_back.gif);
			background-color: #ff3a3a;
			color: #fff;
		}
		
		#send_message_form {
			margin-top: 15px;
		}
		
		#send_message_form input {
			font-size: 1.4em;
			border: 1px solid #cdcdcd;
		}
		
		#send_message_form textarea {
			border: 1px solid #cdcdcd;
		}
		
		#send_message_form input#send {
			font: normal 1em inherit;
		}
		
		a.delete {
			overflow: hidden;
			text-indent: -999px;
			display: block;
			float: left;
			margin-top: 2px;
			background: url(../images/error_icon.gif) top left no-repeat;
			width: 12px;
			height: 13px;
		}
		
		span.unread-count {
			background: #c2582b;
			border: 2px solid #c2582b;
			padding: 0 0.5em;
			color: #fff;
			font-size: 0.8em;
			font-weight: bold;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
		}
			.read .unread-count { display: none; }
		
		.messages-options {
			font: normal 0.9em "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif !important;
			text-transform: none;
			color: #888;
		}
			.messages-options a { color: #888; }
		
		.notice {
			background: url(../images/notice_back.gif) top left repeat-x;
		}
		.notice h5 {
			font: normal 1.4em Georgia, Times, serif;
		}
		.notice a { color: #0051FF;}