/**** Profiles ************************/
			
	table.profile-fields tr.alt {
		background: #f0f0f0;
	}
	
	table.profile-fields tr td.label {
		border-right: 1px solid #dadada;
		font-weight: bold;
	}

		
/**** Profile Edit Form ********************/
		
		.signup-field input, .signup-field select, .signup-field textarea {
			font-size: 1.3em;
			font-family: inherit;
			color: #777;
		}
		
		.signup-description {
			color: #888;
			font-size: 0.9em;
		}
		
		input#save, .standard-form input[type='submit'] {
			font-size: 1.4em;
		}

/**** Avatar Upload Form ********************/

#avatar-upload #upload {
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 1.4em;
}
