/* Displayed User */
#wpadminbar .quicklinks li#wp-admin-bar-user-admin-with-avatar > a img,
#wpadminbar .quicklinks li#wp-admin-bar-group-admin-with-avatar > a img {
	width: 16px;
	height: 16px;
	display: inline;
	border: 1px solid #999;
	vertical-align: middle;
	margin: -2px 10px 0 -5px;
	padding: 0;
	background: #eee;
	float: none;
}

/* Displayed Group */
#wpadminbar .quicklinks li#wp-admin-bar-group-admin-with-avatar ul {
	left: 0;
}

#wpadminbar .quicklinks li#wp-admin-bar-group-admin-with-avatar ul ul {
	left: 0;
}

/* Notifications */
#wpadminbar .quicklinks li#wp-admin-bar-my-account a span.count,
#wpadminbar .quicklinks li#wp-admin-bar-my-account-with-avatar a span.count,
#wpadminbar .quicklinks li#wp-admin-bar-bp-notifications #ab-pending-notifications {
	background: #21759b;
	color: #fff;
	text-shadow: none;
	display: inline;
	padding: 2px 5px;
	font-size: 10px;
	font-weight: 700;
	border-radius: 10px;
}

#wpadminbar .quicklinks li#wp-admin-bar-bp-notifications #ab-pending-notifications {
	background: #ddd;
	color: #333;
	margin: 0;
}

#wpadminbar .quicklinks li#wp-admin-bar-bp-notifications #ab-pending-notifications.alert {
	font-size: 12px;
	background-color: transparent;
	border-radius: 0;
	color: #fff;
}

#wpadminbar .quicklinks li#wp-admin-bar-bp-notifications.bp-notices button {
	all: unset;
	outline: revert;
}

#wpadminbar .quicklinks li#wp-admin-bar-bp-notifications.bp-notices.is-open,
#wpadminbar .quicklinks li#wp-admin-bar-bp-notifications.bp-notices:hover .ab-item {
	background: #fff;
	color: #d84800;
}

#wpadminbar .quicklinks li#wp-admin-bar-bp-notifications.bp-notices.is-open #ab-pending-notifications.alert,
#wpadminbar .quicklinks li#wp-admin-bar-bp-notifications.bp-notices:hover #ab-pending-notifications.alert {
	color: #d84800;
}

#wpadminbar .quicklinks li#wp-admin-bar-bp-notifications .ab-icon {
	position: relative;
	float: none;
	padding: 0;
	margin-right: 0;
}

#wpadminbar .quicklinks li#wp-admin-bar-bp-notifications .ab-icon:before {
	content: "\f16d";
	top: 5px;
	color: #d84800;
}

#wpadminbar .quicklinks li#wp-admin-bar-bp-notifications > a {
	padding: 0 0.5em;
}

#wp-admin-bar-user-info img.avatar {
	height: 64px;
	width: 64px;
}

/* Remove additional arrows from appearing on the BuddyPress' `my_account_menu`
 * on large screens. Add back arrows for screen widths 600px and lower.
 */
#wpadminbar .wp-admin-bar-arrow-right {
	display: none;
}

@media screen and (max-width: 600px) {

	#wpadminbar .wp-admin-bar-arrow-right {
		display: block;
	}
}

@media screen and (max-width: 782px) {

	#wpadminbar li#wp-admin-bar-bp-login,
	#wpadminbar li#wp-admin-bar-bp-register {
		display: block;
	}

	#wpadminbar li#wp-admin-bar-bp-login a,
	#wpadminbar li#wp-admin-bar-bp-register a {
		padding: 0 8px;
	}
}

body.admin-bar aside#bp-notices-container {
	margin-right: 0;
	margin-top: 32px;
	border: 0;
	border-color: transparent;
	background: #fefefe;
	box-shadow: 0 12px 24px -16px #444;
	padding: 1em;
	width: 33%;
}

body.admin-bar aside#bp-notices-container *:not(.dashicons ) {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	line-height: 1.5em;
	font-size: 13px;
}

body.admin-bar aside#bp-notices-container h2.community-notices-title,
body.admin-bar aside#bp-notices-container h2.my-notifications-title,
body.admin-bar aside#bp-notices-container .bp-notice-header h3 {
	color: #1d2327;
	font-size: 1.3em;
	margin: 1em 0;
	font-weight: 800;
}

body.admin-bar aside#bp-notices-container .bp-notice-header h3 {
	font-size: 1.25em;
	font-weight: 600;
}

body.admin-bar aside#bp-notices-container .bp-notice-body {
	display: flex;
}

body.admin-bar aside#bp-notices-container .bp-notice-body p {
	line-height: 1.5;
    margin: 1em 0;
}

body.admin-bar aside#bp-notices-container .bp-notice-body .bp-notice-type {
	margin: 0.5em 0;
	width: 100px;
	height: fit-content;
}

body.admin-bar aside#bp-notices-container .bp-notice-body .bp-notice-type.dashicons:before {
	font-size: 50px;
	color: #d84800;
}

body.admin-bar aside#bp-notices-container hr {
	border: none;
	padding-top: 1em;
	margin: 1em 0;
	border-bottom: solid 1px #d84800;
}
