/* Profile field group main admin page */
#tabs {
	position: relative;
	}
	p.nofields {
		margin-top: 20px;
	}

	/* Field group tabs */
	ul#field-group-tabs {
		float: left;
		padding: 0 0 0 15px;
		display: block;
	}
		ul#field-group-tabs li {
			float: left;
			margin-bottom: -1px;
			background-color: #F7F6F1;
			margin-right: 8px;
		}
		ul#field-group-tabs li.ui-state-hover {
			background-color: #fafafa;
		}
		ul#field-group-tabs li.ui-state-hover a.ui-tab {
			border-color: #bbb #bbb #ccc #bbb;
			color: #888;
		}
		ul#field-group-tabs li.ui-state-acceptable a.ui-tab {
			border-color: #5a5 #5a5 #ccc #5a5;
			color: #8a8;
			background-image: url(../images/plus.gif);
			background-color: #efe;
		}
			ul#field-group-tabs li.ui-tabs-selected.ui-state-acceptable a.ui-tab {
				background-color: #fff;
				background-image: url(../images/cross.gif);
			}
		ul#field-group-tabs li.drop-candidate a.ui-tab {
			background-color: #ffc;
			border-color: #aa5 #aa5 #ccc #aa5;
			color: #aa8;
		}
		ul#field-group-tabs li a.ui-tab {
			display: block;
			margin-top: 3px;
			padding: 8px 10px 8px 28px;
			border: 1px solid #ccc;
			border-bottom: none;
			-moz-border-radius: 5px 5px 0 0;
			-khtml-border-radius: 5px 5px 0 0;
			-webkit-border-radius: 5px 5px 0 0;
			border-radius: 5px 5px 0 0;
			text-decoration: none;
			background: url(../images/move-x.gif) 7px 55% no-repeat;
			color: #888;
		}

		/* Selected tab */
		ul#field-group-tabs li.ui-tabs-selected {
			background-color: #fff;
		}
		ul#field-group-tabs li.ui-tabs-selected a.ui-tab {
			margin-top: -1px;
			padding: 10px 10px 10px 28px;
			border: 1px solid #bbb;
			border-bottom: 1px solid transparent;
			color: #000;
			font-weight: bold;
		}

	/* Toolbar */
	.tab-toolbar {
		margin-top: 1px;
		clear: left;
		background-color: #fff;
		padding: 10px;
		border: 1px solid #bbb;
	}

	div.tab-wrapper {
		clear: left;
	}

	.tab-wrapper fieldset {
		border: 1px solid #ddd;
		-moz-border-radius: 5px;
		-khtml-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		padding: 0 10px 10px;
		margin: 10px 0 0 0;
		position: relative;
		background-color: #fff;
	}
	.tab-wrapper fieldset fieldset {
		cursor: move;
		padding: 10px 10px 20px 10px;
		background-color: #fcfcfc;
	}
		.field-group fieldset:hover {
			background-color: #fafafa;
			border-color: #ccc;
		}
		fieldset div.field-wrapper {
			padding-left: 30px;
			background: url(../images/move.gif) 0px 3px no-repeat transparent;
		}
	fieldset.radio div div,
	fieldset.checkbox div div {
		float: left;
	}
	fieldset.radio div div label,
	fieldset.checkbox div div label {
		margin-right: 20px;
	}

	fieldset.clear-value {
		margin-left: 10px;
	}
	.field-group div.actions {
		display: none;
		position: absolute;
		right: 20px;
		top: 0;
	}
	.field-group fieldset:hover div.actions {
		display: block;
	}
	.field-group fieldset.ui-sortable-placeholder {
		border: 1px dashed #999;
		background-color: #eee;
		visibility: visible !important;
	}

	ul.forTab {
		list-style: none;
		padding: 0;
		margin: 0 0 0 1em;
	}
		ul.forTab li {
			margin: 0 0 1em 0;
		}
	
			ul.forTab li label {
				display: block;
			}
	
			ul.forTab li input {
				font-size: 1.4em;
			}
	
	p.success { background: green;}
	p.err { 
		border-top: 2px solid red;
		border-bottom: 2px solid red;
		color: red;
		padding: 5px 0;
		width: 40%;
	}
	
	span.desc, span.signup-description {
		display: block;
		font-size: 11px;
		color: #555;
	}

	select.multi-select{
		width:90%;
		height:10em !important;
	}

ul.multi-checkbox {
	margin: 0 5px 0 0px;
	padding: .5em .9em;
	height: 10em;
	overflow: auto;
	list-style: none;
	border: solid 1px #ccc;
	width: 90%;
}

ul.multi-checkbox li{
	padding: 0;
	margin: 0;
}

div.options-box {
	margin-left: 20px !important;
	margin-right: 10px !important;
	border-left: 4px solid #EAF3FA;
	padding-left: 15px;
}

th a {
	background: #fff;
	padding: 2px 5px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	top: -2px;
}

textarea#description {
	border: 1px solid #ddd;
	width: 85%;
}