/* 
Basic layout structure styles for BuddyPress Friends. Formats BuddyPress friend pages within any WordPress theme.
No colors, fonts or pretty stuff. 

These structure styles can be overridden by the theme CSS file if needed.
*/

#predefined-lists {
	margin: 1em 1.2em 0 0;
}

#predefined-lists li {
	padding: 0.25em 0;
}
	
.left-menu img#ajax-loader {
	position: absolute;
	right: 0;
	top: 7px;
}

#friend-list .friendship-button {
	margin-top: -1.5em;
}

.left-menu .friendship-button {
	margin-top: 1em;
}