.bp-latest-activities {

	.components-flex.components-select-control {

		select[multiple] {
			height: auto;
			padding: 0 8px;

			+ .components-input-control__suffix svg {
				display: none;
			}
		}
	}
}

.bp-latest-activities-block {

	a,
	.entry .entry-content & a {
		border: none;
		text-decoration: none;
	}

	.activity-list.item-list {

		blockquote {
			padding: 0;
			border: none;

			.activity-item {

				&:not(.mini) {
					position: relative;
					box-shadow: 1px 0 4px rgba(0, 0, 0, 0.15);
					padding: 0 1em;

					&:after,
					&:before {
						position: absolute;
						left: 15px;
						display: block;
						width: 0;
						height: 0;
						border-style: solid;
						border-color: transparent;
						content: "";
					}

					&:before {
						bottom: -18px;
						border-top-color: rgba(0, 0, 0, 0.15);
						border-width: 9px;
						left: 14px;
					}

					&:after {
						bottom: -16px;
						border-top-color: #fff;
						border-width: 8px;
					}
				}

				&.mini {

					.avatar {
						display: inline-block;
						width: 20px;
						height: 20px;
						vertical-align: middle;
						margin-right: 2px;
					}
				}
			}
		}

		footer {
			display: flex;
			align-items: center;

			img.avatar {
				display: inline-block;
				border: none;
				margin-right: 0.5em;
			}

			.activity-time-since {
				font-size: 90%;
			}
		}
	}

	.widget-error {
		border-left: solid 4px #0b80a4;
		box-shadow: 1px 0 4px rgba(0, 0, 0, 0.15);

		p {
			padding: 0 1em;
		}
	}
}
