#buddypress.buddypress-wrap .bp-navs.bp-priority-nav {
	overflow: initial;
}

#buddypress.buddypress-wrap .bp-navs ul.bp-priority-object-nav-nav-items,
#buddypress.buddypress-wrap .bp-navs ul.bp-priority-subnav-nav-items {
	display: inline-block;
}

#buddypress.buddypress-wrap .bp-navs ul.bp-priority-object-nav-nav-items > li,
#buddypress.buddypress-wrap .bp-navs ul.bp-priority-subnav-nav-items > li {
	display: inline;
	position: relative;
	float: initial;
}

#buddypress.buddypress-wrap .bp-navs ul.bp-priority-object-nav-nav-items li a,
#buddypress.buddypress-wrap .bp-navs ul.bp-priority-object-nav-nav-items li span,
#buddypress.buddypress-wrap .bp-navs ul.bp-priority-subnav-nav-items li a,
#buddypress.buddypress-wrap .bp-navs ul.bp-priority-subnav-nav-items li span {
	display: inline-block;
}

#buddypress.buddypress-wrap .bp-navs .primary-nav-more,
#buddypress.buddypress-wrap .bp-navs .secondary-nav-more {
	float: right;
	display: inline;
}

#buddypress.buddypress-wrap .bp-navs .primary-nav-more ul,
#buddypress.buddypress-wrap .bp-navs .secondary-nav-more ul {
	display: inline-block;
}

#buddypress.buddypress-wrap .bp-navs .primary-nav-more ul > li,
#buddypress.buddypress-wrap .bp-navs .secondary-nav-more ul > li {
	display: inline-block;
	position: relative;
	float: none;
}

#buddypress.buddypress-wrap .bp-navs .primary-nav-more ul > li.primary-nav-item-has-children .submenu-expand.bp-priority-nav-more-toggle, #buddypress.buddypress-wrap .bp-navs .primary-nav-more ul > li.secondary-nav-item-has-children .submenu-expand.bp-priority-nav-more-toggle,
#buddypress.buddypress-wrap .bp-navs .secondary-nav-more ul > li.primary-nav-item-has-children .submenu-expand.bp-priority-nav-more-toggle,
#buddypress.buddypress-wrap .bp-navs .secondary-nav-more ul > li.secondary-nav-item-has-children .submenu-expand.bp-priority-nav-more-toggle {
	position: relative;
	line-height: 1.2;
	padding: 0.5em calc(0.5em + 2px);
	margin-left: 0.5rem;
	display: inline-block;
	margin-right: 0.25rem;
	border: none;
	background: none;
}

#buddypress.buddypress-wrap .bp-navs .primary-nav-more ul > li.primary-nav-item-has-children .submenu-expand.bp-priority-nav-more-toggle.is-empty, #buddypress.buddypress-wrap .bp-navs .primary-nav-more ul > li.secondary-nav-item-has-children .submenu-expand.bp-priority-nav-more-toggle.is-empty,
#buddypress.buddypress-wrap .bp-navs .secondary-nav-more ul > li.primary-nav-item-has-children .submenu-expand.bp-priority-nav-more-toggle.is-empty,
#buddypress.buddypress-wrap .bp-navs .secondary-nav-more ul > li.secondary-nav-item-has-children .submenu-expand.bp-priority-nav-more-toggle.is-empty {
	display: none;
}

#buddypress.buddypress-wrap .bp-navs .primary-nav-more ul > li.primary-nav-item-has-children .submenu-expand.bp-priority-nav-more-toggle span, #buddypress.buddypress-wrap .bp-navs .primary-nav-more ul > li.secondary-nav-item-has-children .submenu-expand.bp-priority-nav-more-toggle span,
#buddypress.buddypress-wrap .bp-navs .secondary-nav-more ul > li.primary-nav-item-has-children .submenu-expand.bp-priority-nav-more-toggle span,
#buddypress.buddypress-wrap .bp-navs .secondary-nav-more ul > li.secondary-nav-item-has-children .submenu-expand.bp-priority-nav-more-toggle span {
	position: relative;
	color: #555;
	display: inline-block;
	padding-top: 1px;
}

#buddypress.buddypress-wrap .bp-navs .primary-nav-more .sub-menu,
#buddypress.buddypress-wrap .bp-navs .secondary-nav-more .sub-menu {
	background-color: #fff;
	color: #fff;
	list-style: none;
	padding-left: 0;
	position: absolute;
	opacity: 0;
	left: -9999px;
	z-index: 99999;
}

#buddypress.buddypress-wrap .bp-navs .primary-nav-more .sub-menu > li,
#buddypress.buddypress-wrap .bp-navs .secondary-nav-more .sub-menu > li {
	display: block;
	float: none;
	position: relative;
}

#buddypress.buddypress-wrap .bp-navs .primary-nav-more .primary-nav-item-has-children:hover .sub-menu.hidden-items,
#buddypress.buddypress-wrap .bp-navs .primary-nav-more .secondary-nav-item-has-children:hover .sub-menu.hidden-items,
#buddypress.buddypress-wrap .bp-navs .secondary-nav-more .primary-nav-item-has-children:hover .sub-menu.hidden-items,
#buddypress.buddypress-wrap .bp-navs .secondary-nav-more .secondary-nav-item-has-children:hover .sub-menu.hidden-items {
	right: 0;
	left: auto;
	display: table;
	width: max-content;
	opacity: 1;
	position: absolute;
	animation: fade_in 0.1s forwards;
	border: 1px solid #eee;
	border-top-color: 1px solid #fff;
}

#buddypress.buddypress-wrap .bp-navs .primary-nav-more .primary-nav-item-has-children:hover .sub-menu.hidden-items a,
#buddypress.buddypress-wrap .bp-navs .primary-nav-more .secondary-nav-item-has-children:hover .sub-menu.hidden-items a,
#buddypress.buddypress-wrap .bp-navs .secondary-nav-more .primary-nav-item-has-children:hover .sub-menu.hidden-items a,
#buddypress.buddypress-wrap .bp-navs .secondary-nav-more .secondary-nav-item-has-children:hover .sub-menu.hidden-items a {
	display: block;
}

#buddypress.buddypress-wrap .subnav.bp-priority-subnav-nav-items {
	float: initial;
}

#buddypress.buddypress-wrap:not(.bp-single-vert-nav) .bp-priority-nav > ul > li > a {
	padding: 0.5em calc(0.5em + 2px);
}
