/**** Begin Default Theme Styles **************************************************/

body {
	line-height: 170%;
	color: #555;
	min-width: 960px;
	background: #fff;
}

a {
	color: #f7740a;
	text-decoration: underline;
}

a:hover {
	color: #555;
	text-decoration: none;
}

a.selected {
	color: #555;
	text-decoration: none;
}

h1, h2, h3 {
	font-family: Georgia, Times, Serif;
}
	h2 {
		border-bottom: 1px solid #ddd;
		padding-bottom: 10px;
		margin-bottom: 15px;
	}

.ajax-loader {
	background: url( ../images/ajax-loader.gif ) center left no-repeat !important;
	padding: 8px;
	display: none;
}

/*** Search / Login Bar ************************************************/

#search-login-bar {
	border-top: 10px solid #f7740a;
	background: #fff9df;
	overflow: hidden;
	width: 100%;
}
	#search-login-bar #search-form {
		float: left;
		margin-top: 1px;
		padding: 7px 20px;
	}
		#search-login-bar #search-terms {
			width: 200px;
			margin-right: 4px;
			color: #888;
		}

		#search-login-bar #search-which {
			margin-right: 2px;
		}

	#search-login-bar #login-form, #logout-link {
		float: right;
		padding: 7px 20px;
	}

	#logout-link img {
		vertical-align: middle;
	}

	#search-login-bar #rememberme { display: none; }


/*** Header ************************************************************/

#header {
	overflow: auto;
	width: 100%;
	background: #fff;
}
	#header ul#nav {
		float: right;
		list-style: none;
		margin: 35px 20px 30px 0;
		padding: 0;
	}

	#header h1#logo {
		float: left;
		margin: 20px 0 15px 20px;
		padding: 15px 0;
	}

	#header h1#logo a {
		font-size: 2em;
		color: #aaa;
		font-style: italic;
		font-family: Georgia, times, serif;
		display: block;
		text-decoration: none;
	}

	#header ul {
		float: right;
		margin: 0;
		list-style: none;
		padding: 0;
	}
		#header ul li {
			float: left;
			margin: 0 0 0 18px;
		}
			#header ul li a {
				background: #f0f0f0;
				color: #555;
				display: block;
				padding: 2px 15px;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				text-decoration: none;
				border-bottom: 1px solid #ddd;
				border-right: 1px solid #ddd;
			}

			#header ul li.selected a {
				background: #fff9df;
				color: #ff7900;
				font-weight: bold;
				border-color: #FFE8C4;
			}


/*** Content Box *************************************************************/

.internal-page #content {
	background: #fff url(../images/content_back.gif) top left repeat-x;
	padding: 2em 3em;
	margin-left: 275px;
}
	.directory #content {
		background: none;
		padding: 0;
		margin-left: 0;
	}

.blog-page #container, .directory #container, .home-page #container {
	padding: 5px 20px 20px 20px;
}

.internal-page 	#container {
	background: url( ../images/background.gif ) top left repeat-y;
}
	.directory #container {
		background: #fff;
	}

/*** Content Header *************************************************************/

div.content-header {
	font: normal 1em "Georgia", Times, serif;
	text-transform: uppercase;
	text-align: center;
	background: url(../images/content_header.gif) top left repeat-x;
	min-height: 24px;
	padding: 8px 0 0 0;
	position: relative;
	z-index: 2;
	margin-left: 275px;
}
	ul.content-header-nav {
		margin: -8px 0 0 1.5em;
		list-style: none;
		padding: 0;
	}
		ul.content-header-nav li {
			float: left;
			padding: 8px 1em;
			height: 30px;
			font: normal 0.9em "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif !important;
			text-transform: none;
		}
			ul.content-header-nav li a {
				color: #555;
				text-decoration: underline;
			}
				ul.content-header-nav li a:hover {
					color: #555;
					text-decoration: none;
				}

			ul.content-header-nav li span {
				color: #999;
			}

		ul.content-header-nav li.current {
			background: url(../images/topoption_selected_back.gif) top center no-repeat;
		}
			ul.content-header-nav li.current a {
				text-decoration: none;
			}

/*** User Navigation Bar *****************************************************/

#userbar {
	width: 138px;
	float: left;
	position: relative;
	background: #e6e6e6;
}
	#userbar a { text-decoration: none; }

	#userbar ul li {
		float: none;
		margin-right: 0;
		list-style: none;
	}

	#userbar h3 {
		font: normal 1em "Georgia", Times, serif;
		text-transform: uppercase;
		text-align: center;
		background: url(../images/userbar_header.gif) bottom center no-repeat;
		min-height: 24px;
		padding: 8px 0 8px 0;
	}

	#userbar p.avatar {
		text-align: center !important;
		float: none;
		margin: 1em 0 0 0;
	}

	#userbar img.avatar {
		margin: 0;
		float: none;
	}

	#userbar p#login-text {
		text-align: center;
		margin: 0.4em 0;
		float: none;
	}

	#userbar p#login-text {
		padding: 0.5em 1em 0 1em;
	}

		p.avatar img {
			border: 4px solid #fff;
		}
			img#avatar-to-crop { border: none !important; }

	#userbar form {
		padding: 1em 1.5em 1em 1em;
	}
		#userbar form input {
			width: 95%;
		}
			#userbar form input#userbar_rememberme { width: auto; }
			#userbar form input#wp-submit { width: auto; }

	#userbar ul#bp-nav {
		width: 149px;
		margin: 1.75em 0 0 0;
		z-index: 999 !important;
		position: relative;
	}
		#userbar ul#bp-nav li.current {
			background: url(../images/navitem_selected_back.gif) 100% -1px repeat-x;
		}
			#userbar ul#bp-nav li a {
				font-size: 1em;
				color: #555;
				padding: 0.55em 3em 0.55em 0;
				display: block;
				text-align: right;
				margin-right: 0.85em;
			}
				#userbar ul#bp-nav li.current a {
					color: #fff;
				}

				li a#user-profile, li a#my-profile {
					background: url(../images/profile_bullet.gif) 88% 52% no-repeat;
					padding: 0.55em 3em 0.55em 0 !important;
					margin-right: 0.85em !important;
				}

				li a#user-messages, li a#my-messages {
					background: url(../images/messages_bullet.gif) 89% 52% no-repeat;
				}

				li a#user-blogs, li a#my-blogs {
					background: url(../images/blog_bullet.gif) 87% 52% no-repeat;
					padding: 0.55em 3em 0.55em 0 !important;
					margin-right: 0.85em !important;
				}

				li a#user-friends, li a#my-friends {
					background: url(../images/friends_bullet.gif) 87% 52% no-repeat;
					padding: 0.55em 3em 0.55em 0 !important;
					margin-right: 0.85em !important;
				}

				li a#user-groups, li a#my-groups {
					background: url(../images/groups_bullet.gif) 88% 52% no-repeat;
					padding: 0.55em 3em 0.55em 0 !important;
					margin-right: 0.85em !important;
				}

				li a#user-wire, li a#my-wire {
					background: url(../images/wire_bullet.gif) 88% 52% no-repeat;
					padding: 0.55em 3em 0.55em 0 !important;
					margin-right: 0.85em !important;
				}

				li a#user-activity, li a#my-activity {
					background: url(../images/activity_bullet.gif) 88% 52% no-repeat;
					padding: 0.55em 3em 0.55em 0 !important;
					margin-right: 0.85em !important;
				}

				li a#user-settings, li a#my-settings {
					background: url(../images/settings_bullet.gif) 88% 52% no-repeat;
				}

				li a#wp-logout {
					background: url(../images/logout_bullet.gif) 87% 52% no-repeat;
				}

				li a#group-home, li a#group-wire, li a#group-photos, li a#group-forum,
				li a#group-members, li a#group-invite, li a#group-leave, li a#group-admin
				li a#request-membership, li a#group-admin {
					background: url(../images/groups_bullet.gif) 88% 52% no-repeat;
					padding: 0.55em 3.1em 0.55em 0 !important;
					display: block;
					margin-right: 0.85em;
				}
					li a#group-forum {
						background: url(../images/forum_bullet.gif) 88% 52% no-repeat;
					}

					li a#group-members {
						background: url(../images/friends_bullet.gif) 87% 52% no-repeat;
					}

					li a#group-invite {
						background: url(../images/invite_bullet.gif) 89% 52% no-repeat;
					}

					li a#group-leave {
						background: url(../images/cross_bullet.gif) 88% 52% no-repeat;
					}

					li a#group-wire {
						background: url(../images/wire_bullet.gif) 88% 52% no-repeat;
					}

					li a#group-admin {
						background: url(../images/blogadmin_icon.gif) 87% 52% no-repeat;
					}

					li a#request-membership {
						background: url(../images/request_bullet.gif) 87% 25% no-repeat;
					}


/*** Displayed Object Options Navigation Bar *****************************************/

#optionsbar {
	width: 138px;
	float: left;
	position: relative;
	background: #f0f0f0;
}
	#optionsbar a { text-decoration: none; }

	#optionsbar ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	#optionsbar ul li {
		float: none;
		margin-right: 0;
	}

	#optionsbar p.avatar {
		text-align: center !important;
		float: none;
		margin: 1em 0 0 0;
	}

	#optionsbar img.avatar {
		margin: 0;
		float: none;
	}

	#optionsbar h3 {
		font: normal 1em "Georgia", Times, serif;
		text-transform: uppercase;
		text-align: center;
		background: #c9c9c9 url(../images/optionsbar_header_arrow.gif) bottom center repeat-x;
		padding: 8px 0 17px 0;
		letter-spacing: 0.5px;
	}

	#optionsbar ul#options-nav {
		width: 148px;
		margin: 1.75em 0 0 0;
		position: relative;
		z-index: 1;
	}
		#optionsbar ul#options-nav li.current {
			background: url(../images/optionnavitem_selected_back.gif) 100% -1px repeat-x;
		}
			#optionsbar ul#options-nav li a {
				font-size: 1em;
				color: #555;
				padding: 0.55em 2.5em 0.55em 0;
				display: block;
				text-align: right;
			}

			#optionsbar ul.icons li a {
				padding-right: 3.1em !important;
				margin-right: 0.7em;
			}

/*** Internal Page Left Menu / Main Column **************************************/

.internal-page .left-menu {
	position: relative;
	float: left;
	width: 160px;
}
	.left-menu ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.left-menu h5 { margin: 0; font-size: 1em; }

	.left-menu div.button-block {
		margin: 20px 0;
	}

	.left-menu input { width: 90%; }

.internal-page .main-column {
	margin-left: 185px;
}
	.internal-page .main-column h1 {
		font: normal 3.2em "Georgia", Times, serif;
	}
		.internal-page .main-column h1 a {
			text-decoration: none;
			color: #555;
		}

p.submit { margin-top: 20px; }

/*** Internal Page Items ********************************************************/

div.bp-widget {
	position: relative;
	margin-bottom: 20px;
}
	div.bp-widget h4 {
		position: relative;
		background: url(../images/group_header.gif) repeat-x bottom left;
		color: #fff;
		padding: 6px 10px 15px 10px;
		font: bold 1em "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif !important;
		margin-bottom: 10px;
	}
		.left-menu div.bp-widget h4 {
			background: #d5d5d5 url(../images/leftmenu_group_header.gif) bottom left no-repeat;
			color: #555;
			padding-bottom: 20px;
		}

		/* "See All" links in widget headers */
		div.bp-widget h4 span { position: absolute; right: 10px; }

		div.bp-widget h4 a {
			color: #fff;
			font-weight: normal;
		}
			.left-menu div.bp-widget h4 a {
				color: inherit;
				font-weight: inherit;
			}

ul.horiz-gallery {
	list-style: none;
	overflow: auto;
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}
	ul.horiz-gallery li {
		float: left;
		padding-right: 25px;
		text-align: center;
		width: 15%;
	}
		ul.horiz-gallery li h5 { font-size: 1em; }

	.internal-page #content img.avatar {
		border: 4px solid #f0f0f0;
	}

ul.item-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
	ul.item-list li {
		position: relative;
		padding: 10px 10px 10px 10px;
		overflow: hidden;
	}

	ul.item-list img.avatar {
		float: left;
		margin-right: 10px;
	}

	ul.item-list h4, ul.item-list h5, ul.item-list .item-title {
		font-size: 1em;
		margin: 0 0 4px 0;
	}

		ul.item-list li .field-data {
			margin-left: 68px;
			margin-top: 10px;
			font-size: 0.9em;
			color: #888;
		}

	ul.item-list li .desc {
		font-size: 0.9em;
		color: #888;
		margin: 10px 10px 0 68px;
	}
		#group-dir-list .desc { margin-right: 200px; }

div.action {
	position: absolute;
	right: 15px;
	top: 15px;
	text-align: right;
}

div#avatar-crop-submit {
	margin: 20px 0 0 0;
}

/*** Pagination **************************************************************/

.pagination {
	overflow: hidden;
	width: 100%;
}
	/* On activity streams position pagination above the filters */
	.activity .pagination {
		position: absolute;
		top: 45px;
	}

.pagination-links {
	text-align: right;
	margin-bottom: 5px;
}
	.pagination-links .page-numbers {
		padding: 0.65em 0.7em;
		height: 24px;
	}

	.pagination-links .current {
		padding: 0.5em 0.7em;
	}

a.page-numbers:hover { background: #e1e1e1; }

	.pagination-links .current {
		background: #d5d5d5;
		border-bottom: 2px solid #f28935;
	}

.pag-count {
	font-size: 0.9em;
	color: #888;
	float: left;
	width: 60%;
}

/*** Feedback Messages *******************************************************/

#message {
	background: url(../images/updated_back.gif) top left repeat-x #ddffc4;
	margin: 0 0 2em 0;
}
	#message p {
		color: #357c00;
		padding: 1em 2.75em;
		background: url(../images/updated_icon.gif) 1em 1.1em no-repeat;
	}

#message.error {
	background-image: url(../images/error_back.gif);
	background-color: #ff3a3a;
	color: #fff;
}
	#message.error p {
		background-image: url(../images/error_icon.gif);
		color: #fff;
	}

#message.info {
	background-image: none;
	background-color: #fcfcd0;
	color: inherit;
}
	#message.info p {
		background-image: url(../images/info_icon.gif);
		color: inherit;
		padding-left: 3.3em;
	}

/*** Button Styles **********************************************************/

.generic-button {
	background: url(../images/button_back.gif) top left no-repeat;
	display: inline-block;
	margin: 0 5px 8px 0;
}

.generic-button a {
	display: block;
	height: 19px;
	color: #777;
	font-size: 0.9em;
	padding: 0 33px 0 11px;
	margin-right: -7px;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
	background: url(../images/view_button_side.gif) top right no-repeat;
}
	.accept a { background-image: url(../images/accept_button_side.gif); }
	.reject a { background-image: url(../images/reject_button_side.gif); }

	.generic-button a:hover {
		color: #555;
		text-decoration: none;
	}

	.friendship-button a.add {
		background: url(../images/add_button_side.gif) top right no-repeat;
	}

	.friendship-button a.remove {
		background: url(../images/remove_button_side.gif) top right no-repeat;
	}

	.friendship-button a.requested {
		background: url(../images/check_button_side.gif) top right no-repeat;
	}

	.loading a {
		background: url(../images/loading_button_side.gif) top right no-repeat !important;
	}

	.group-button a.join-group, .group-button a.request-membership {
		background: url(../images/add_button_side.gif) top right no-repeat;
	}

	.group-button a.leave-group {
		background: url(../images/remove_button_side.gif) top right no-repeat;
	}

	.group-button a.membership-requested {
		background: url(../images/check_button_side.gif) top right no-repeat;
	}

	.main-column .button-block {
		overflow: hidden;
		width: 100%;
		margin-bottom: 10px;
	}
		.main-column .button-block div.generic-button {
			float: right;
		}

a.item-button {
	font-size: 0.9em;
	padding-left: 5px;
	color: #888;
}

/*** Standard Form Styles ***************************************************/

form.standard-form { }

	form.standard-form label, form.standard-form span.label {
		display: block;
		font-weight: bold;
		margin: 10px 0 5px 0;
	}

	form.standard-form input[type=text] {
		width: 65%;
	}

	form.standard-form textarea {
		width: 65%;
	}

	form.standard-form .checkbox label, form.standard-form .radio label {
		font-weight: normal;
		display: inline;
	}


/*** Home Widgets ************************************************************/

.widget {
	margin: 0 0 25px 0;
}

h2.widgettitle, .directory h3, h2.pagetitle {
	padding: 5px 8px 0 8px;
	margin-bottom: 3px;
	height: 36px;
	border-radius: 3px;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font: bold 1em "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif !important;
}

	h2.widgettitle a {
		text-decoration: none;
		color: #555;
	}

	h2.widgettitle img {
		vertical-align: middle;
		margin-right: 4px;
	}

	.widget_bp_core_welcome_widget h2 {
		background: url(../images/welcome_header_back.gif) top left no-repeat !important;
		color: #fff !important;
	}

.widget ul.item-list li, .activity-list {
	background: url(../images/item_list_back.gif) top left repeat-x;
	padding: 15px;
}
	.widget ul.item-list {
		margin-top: 5px !important;
	}

	.widget ul.item-list li .item-avatar img, img.avatar {
		border: 3px solid #ddd;
	}

	.widget ul.item-list li h4.item-title {
		font: normal 1.4em "Georgia", Times, serif;
		margin: 0 0 7px 0;
	}

	.widget_bp_blogs_widget_recent_posts img.avatar {
		width: 50px !important;
		height: 50px !important;
	}

	.widget ul.item-list li .item {
		margin-left: 71px;
	}
		.widget_bp_blogs_recent_posts_widget ul.item-list li .item {
			margin-left: 31px !important;
		}

	.widget ul.item-list li .item-meta {
		font: normal 1em "Georgia", Times, serif;
		margin: 10px 0;
	}

	.widget .item-options {
		text-align: right;
		font-size: 0.9em;
		margin: -15px 0 0 0;
	}

	.widget_bp_core_widget_whos_online .item-avatar {
		float: left;
		margin-right: 10px;
	}


div.create-account {
	margin: 10px 0;
	text-align: right;
}

.widget-error {
	padding: 10px;
	background: #fff9df;
}

span.activity, .message-metadata small {
	color: #888;
	background: #FFF9DB;
	padding: 4px 6px;
	border-right: 1px solid #FFE8C4;
	border-bottom: 1px solid #FFE8C4;
	display: inline-block;
	font: normal 0.9em "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif !important;
	max-width: 60%;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

div.avatar-block {
	padding: 0 15px;
}

.bp_core_widget_whos_online img {
	margin-bottom: 15px !important;
}

.widget table#wp-calendar {
	width: 100%;
}

.widget table#wp-calendar caption {
	text-align: center;
	font-size: 1.2em;
	font-family: georgia, times, serif;
	padding-bottom: 10px;
}

.widget table#wp-calendar th {
	text-align: center;
	font-weight: bold;
}

.widget table#wp-calendar td {
	background: #eee;
	border: 2px solid #fff;
	text-align: center;
}
	.widget table#wp-calendar td:hover {
		background: #ccc;
		cursor: pointer;
	}

	.widget table#wp-calendar td#today {
		background: #fff9df;
	}

	.widget table#wp-calendar td.pad {
		background: none;
	}

.widget #ajax-loader-members, .widget #ajax-loader-groups {
	margin-right: 7px;
	float: none !important;
}

.widget h2 {
	font-size: 1em;
}

	#third-section .widget h2{
		background: url(../images/rightcol_header_back.gif) top left no-repeat;
		color: #fff;
	}

	#second-section .widget h2 {
		background: url(../images/centercol_header_back.gif) top left no-repeat;
		color: #fff;
	}

	#first-section .widget h2, #sidebar h2.widgettitle, .page h2.pagetitle  {
		background: url(../images/leftcol_header_back.gif) top left no-repeat;

	}


/*** Directory Styles *******************************************************/

.directory h3, .directory #sidebar h3 {
	padding: 5px 8px 0 8px;
	margin-bottom: 3px;
	height: 36px;
	font-weight: bold;
	background: url(../images/leftcol_header_back.gif) top left no-repeat;
}

.directory #sidebar h3 {
	background-image: url(../images/rightcol_header_back.gif);
	color: #fff;
}

.directory-widget {
	margin-bottom: 26px;
}

ul#letter-list {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	overflow: hidden;
	margin-bottom: 30px;
}
	ul#letter-list li {
		float: left;
		margin: 0 4px 3px 0;
		width: 3.2%;
		min-width: 15px;
		list-style: none;
		padding: 0;
	}
		ul#letter-list li a {
			display: block;
			background: #eee;
			text-align: center;
			text-decoration: none;
			font-size: 12px;
			color: inherit;
			font-family: Georgia, Times, serif;
			padding: 3px 5px;
		}

		ul#letter-list li a:hover {
			font-weight: bold;
			background: #fff9df;
			color: #f7740a;
		}

		ul#letter-list li a.selected {
			font-weight: bold;
			background: #aaa;
			color: #fff;
		}


/*** WordPress Blog Styles ***************************************************/

.alignleft { float: left; }
.alignright { float: right; }

.item-options {
	padding: 5px;
	height: 15px;
}

.post, #comments-template, #compose-reply {
	background: url(../images/item_list_back.gif) top left repeat-x;
	padding: 20px 15px;
}
	#comments-section, #compose-reply {
		background: none;
	}

	ol.commentlist {
		list-style: none;
		margin: 0;
		padding: 0;
	}

.post p {
	margin-top: 15px;
}

.post ul {
	list-style-type: disc;
	padding-left: 15px;
	margin-top: 15px;
}

.post h3 {
	font: normal 1.6em Georgia, times, serif;
	border: none;
	padding: 0;
	margin: 0;
}
	.post h3 a {
		color: #555;
	}

.post p.date, .small, h3 span {
	color: #888;
	font-size: 0.95em;
	margin: 5px 0 15px 0;
}
	.post p.date em {
		color: #f7740a;
		font: italic 1em Georgia, times, serif;
	}

.post .entry {
	margin: 10px 0;
}

.post span.tags {
	background: url(../images/tag_icon.gif) center left no-repeat;
	padding-left: 1.6em;
	float: left;
}

.post span.comments {
	float: right;
	background: url(../images/comments_icon.gif) center right no-repeat;
	padding-right: 2.1em;
}

.postmetadata {
	padding: 0.5em 0;
}

.post-details {
	background: #f0f0f0;
	padding: 1em 1.5em;
	margin: 0 0 2em 0;
}

h4.archive {
	font: normal 1.2em Georgia, Times, serif;
	text-transform: uppercase;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 0.5em;
	margin: -1em 0 1em 0;
}

	/*** Post Content Styles ***/

	.entry blockquote { width: 230px; font-style: normal !important; font-size: 1.1em !important; margin: 5px 15px 5px 0 !important; padding: 0.5em !important; background: #eee; text-align: center; float: left; }
	.entry blockquote.right { width: 230px; font-style: normal !important; font-size: 1.3em !important; margin: 5px 0 5px 15px !important; padding: 0.5em !important; background: #eee; border-width: 3px 0; text-align: center; float: right; }

	.entry p { margin: 0 0 15px 0; }

	.entry ul, .entry ol { margin: 0 0 15px 40px; }
	.entry ul { list-style: disc; }

		.entry li { margin: 0 0 5px 0; }
			.entry ul li ul, .entry ul li ol, .entry ol li ul, .entry ol li ol { margin: 5px 0 5px 30px; }

	.entry dl { margin: 0 0 15px 0; }
		.entry dt { font-weight: bold; }
		.entry dd { margin: 0 0 15px 20px; }
		.entry .gallery dd { margin: 0; }

	.entry .ad { margin: 0 0 15px 15px; float: right; }

	.entry .ad_left { margin: 0 15px 15px 0; float: left; }

	.entry a img { border: 0; }

	.entry img.left { padding: 3px; margin: 5px 15px 5px 0; border: 3px double #bbb; float: left; clear: left; }

	.entry img.right { padding: 3px; margin: 5px 0 5px 15px; border: 3px double #bbb; float: right; clear: right; }

	.entry img.center { display: block; padding: 3px; margin: 0 auto 15px auto; border: 3px double #bbb; float: none; clear: both; }

	.entry img.off { padding: 0 !important; border: none !important; }

	.entry img.stack { clear: none !important; }

	.entry img.wp-smiley { padding: 0 !important; margin: 0 !important; border: none !important; float: none !important; clear: none !important; }

	.entry img.centered, img.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.entry img.alignright {
		padding: 4px;
		margin: 0 0 2px 7px;
		display: inline;
	}

	.entry img.alignleft {
		padding: 4px;
		margin: 0 7px 2px 0;
		display: inline;
	}

	.entry .alignright {
		float: right;
	}

	.entry .alignleft {
		float: left;
	}

	.entry .aligncenter, .entry div.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.entry .wp-caption {
		border: 1px solid #ddd;
		text-align: center;
		background-color: #f3f3f3;
		padding-top: 4px;
		margin: 10px;
		-moz-border-radius: 3px;
		-khtml-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
	}

	.entry .wp-caption img {
		margin: 0;
		padding: 0;
		border: 0 none;
	}

	.entry dd.wp-caption p.wp-caption-text, .entry .wp-caption p.wp-caption-text {
		font-size: 0.9em;
		line-height: 17px;
		padding: 0 4px 5px 0;
		margin: 0;
	}

	/*** Comments / Comment Form Styles ***/

	textarea#comment {
		width: 100%;
	}

	#commentform { padding: 1em 1.5em; }
	#commentform textarea { width: 100%;}
	#comment-textarea { float: right; width: 80%; }

	.comment-details { float: left; width: 20%; }
	.comment-content { float: right; width: 80%; }

	.commentlist li {
	        padding: 15px;
	        background: #fff;
	        margin-bottom: 1em;
			-moz-border-radius: 3px;
			-khtml-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
	}

		.commentlist li.alt { background: #f0f0f0; }
		.commentlist li img.avatar {
			padding: 0;
			margin: 0 10px 10px 0;
			float: left;

		}
		.commentlist li.alt img.avatar { border-color: #fff !important; }

	.commentmetadata {
        font-size: 0.9em;
        border-bottom: 1px solid #ddd;
		padding-bottom: 10px;
		margin-bottom: 15px;
	}
		.commentmetadata a { color: #888; }

	#commentform input, #commentform textarea {
		margin: 0 5px 8px 0;
	}

/*** Regisration / Activation Styles ***********************************************/

.registration h3 {
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.register-section {
	margin: 0 0 30px 0;
}
	.registration .checkbox input { width: auto !important; }
	.registration .radio input { width: auto !important; }
	#basic-details-section input[type=password] { width: 35% !important; }

	#blog-details-section input#signup_blog_url { width: 35%; }

.registration span.label {
	margin-top: 20px;
	font-weight: normal;
}

.registration div.error {
	border: 1px solid #dc7e7e;
	background: #ffc9c9;
	width: 65%;
	padding: 5px;
	margin: 5px 0 10px 0;
}

#basic-details-section input, #basic-details-section textarea,
#profile-details-section input, #profile-details-section textarea,
input#signup_blog_title {
	width: 90%;
}

#basic-details-section, #blog-details-section, #profile-details-section {
	float: left;
	width: 48%;
}

#profile-details-section {
	float: right;
}

#blog-details-section {
	clear: left;
	margin-top: -10px;
}

#blog-details-section h3 { display: none; }

.registration p.submit { clear: both; }
.registration p.description { font-size: 0.9em; color: #888;}

#signup-avatar {
	margin: 0 25px 25px 0;
	float: left;
}

#signup_form p.submit {
	float: right;
	margin: 0;
	font-size: 1.4em;
}


/*** Component Specific Styles ****************************************************/


/**** ACTIVITY STREAMS ***************************/

.activity-list {
	padding: 5px 0 5px 0 !important;
}

.activity-list li {
	position: relative;
	margin: 0 15px;
	padding: 10px 10px 0 55px !important;
	background: none !important;
	border-bottom: 1px solid #eee;
}
	.activity-list li.mini {
		font-size: 0.9em;
		min-height: 35px;
	}
		.activity-list li.mini div.activity-meta {
			margin: 0;
		}

		.activity-list li.mini .activity-avatar img.avatar,
		.activity-list li.mini .activity-avatar img.FB_profile_pic {
			width: 20px !important;
			height: 20px !important;
			margin-left: 20px;
		}

		.activity-list li.mini .activity-content {
			margin-right: 70px;
		}

		.activity-list li.mini .activity-content p {
			margin: 0;
			float: left;
		}

		.activity-list li.mini .activity-meta {
			position: absolute;
			right: 0;
		}

		.activity-list li.mini .activity-comments {
			clear: left;
			font-size: 1.1em;
			margin-top: 30px;
		}

	.activity-list li div.activity-avatar {
		position: absolute;
		margin: 1px 0 0 -55px;
	}
		.widget .activity-list li div.activity-avatar img.avatar {
			border-width: 2px;
		}

		.internal-page .activity-list li div.activity-avatar img.avatar {
			border-top-width: 3px !important;
			border-right-width: 2px !important;
			border-bottom-width: 2px !important;
			border-left-width: 3px !important;
		}

.activity-list li blockquote, .activity-list li div.activity-inner {
	padding: 7px 15px 7px 40px;
	background: url(../images/quotes_background.gif) 10px 9px no-repeat #eee;
	margin: -10px 0 15px 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	z-index: 50;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
	.activity-list li blockquote p {
		margin: 0;
		overflow: hidden;
	}
		.activity-list li div.activity-inner p:last-child {
			margin-bottom: 0;
		}

		.activity-list .acomment-content div.activity-inner {
			background: none;
			padding: 5px 0;
			border: none;
		}

		.activity-list li.activity_comment div.comment-header {
			margin-bottom: 18px;
		}

.activity-list li span.activity-header-meta {
	font-size: 0.95em;
}
	.activity-list li span.activity-header-meta a {
		color: #888;
	}

.activity-list li span.time-since {
	font-size: 0.85em;
	color: #999;
}

.activity-list li .activity-inreplyto {
	font-size: 0.9em;
	color: #888;
	padding-left: 25px;
	background: url( ../images/replyto_arrow.gif ) 7px 0 no-repeat;
}
	.activity-list li .activity-inreplyto > p {
		margin: 0;
		display: inline;
	}

	.activity-list li .activity-inreplyto blockquote,
	.activity-list li .activity-inreplyto div.activity-inner {
		background: none;
		border: none;
		display: inline;
		padding: 0;
		margin: 0;
	}

.activity-list li.load-more {
	margin: 15px !important;
	padding: 10px 15px !important;
	background: #f0f0f0 !important;
	text-align: center;
	font-size: 1.2em;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
	.activity-list li.load-more a {
		color: #555;
	}

div.item-list-tabs ul {
	margin: 0;
	padding: 0;
	list-style: none;
	background: url(../images/item_list_back.gif) top left repeat-x;
	padding: 15px;
	overflow: hidden;
}

div.item-list-tabs ul li {
	float: left;
}
	div.item-list-tabs ul li a {
		display: block;
		padding: 2px 8px;
		background-color: #fff !important;
		background-position: 8px 6px !important;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		margin: 0 5px 0 0;
		border: 1px solid #eee;
		text-decoration: none;
	}
		div.item-list-tabs ul li.selected a {
			border: 1px solid #ccc;
			color: #555;
			font-weight: bold;
		}

		div.item-list-tabs ul li.afilter-clear a {
			background: url(../images/error_icon.gif) 0 4px no-repeat;
			border-color: #ffa6ac;
			color: #ff5560;
		}

		div.item-list-tabs li#activity-filter-select {
			float: right;
		}
			div.item-list-tabs li#activity-filter-select select {
				max-width: 120px;
			}

a.rss-image {
	background: url( ../images/rss.png ) top left no-repeat;
	width: 10px;
	height: 10px;
	margin-top: 3px;
	display: block;
	float: right;
	text-indent: -999em;
	overflow: hidden;
}

#activity-rss p {
		text-align: right;
		font-size: 0.9em;
		margin: -20px 0 5px 0;
}

#activity-rss p a {
	background: url(../images/rss.png) center left no-repeat;
	padding-left: 15px;
}

.widget_bp_activity_widget {
	float: left;
	width: 100%;
}

.widget_bp_activity_widget span.time-since {
	font-size: 0.9em;
}

.widget_bp_activity_widget ul#site-wide-stream {
	margin: 0;
	padding: 0;
	list-style: none;
}

.widget_bp_core_recently_active_widget div.item-avatar {
	display: inline;
	margin: 0 5px 5px 0;
}

/** Activity Stream Comments *********************/

	div.activity-comments {
		margin-top: 15px;
	}
		div.activity-comments a {
			color: #888;
		}

	div.activity-meta { margin: -2px 0 10px 0; }

	div.activity-meta a.acomment-reply {
		font-size: 0.9em;
		background: #FFF9DB;
		border-bottom: 1px solid #FFE8C4;
		border-right: 1px solid #FFE8C4;
		color: #888;
		padding: 4px 8px;
		text-decoration: none;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
	}
		div.activity-meta a.acomment-reply:hover {
			background: #f7740a;
			color: #fff;
			border-color: #f7740a;
		}

	div.activity-comments ul, div.activity-comments ul li {
		border: none;
		list-style: none;
	}
		div.activity-comments ul {
			clear: left;
		}
			div.activity-comments > ul:first-child {
				padding-left: 0;
				margin: 0;
				margin-bottom: 20px;
				margin-left: -10px !important;
			}

		div.activity-comments ul li {
			border-top: 1px solid #eee;
			padding: 10px 0 0 0 !important;
			margin-left: 10px;
		}
			div.activity-comments ul li p:last-child {
				margin-bottom: 0;
			}

			div.activity-comments > ul > li:first-child {
				border-top: none;
			}

			div.activity-comments > ul:first-child > li:first-child {
				background: url( ../images/comment_topline.gif) top left no-repeat !important;
				padding-top: 20px !important;
			}

			div.activity-comments ul li:last-child {
				margin-bottom: 0;
			}

		div.activity-comments ul li > ul {
			margin-top: 5px;
		}

		div.activity-comments div.acomment-avatar img {
			border-width: 2px !important;
			float: left;
			margin-right: 10px;
		}

		div.activity-comments div.acomment-content {
			font-size: 0.9em;
			margin-left: 39px;
			margin-top: 5px;
		}
			div.acomment-content .time-since { display: none; }
			div.acomment-content .activity-delete-link { display: none; }
			div.acomment-content .comment-header { display: none; }

		div.activity-comments div.acomment-meta {
			font-size: 0.9em;
			color: #888;
		}

		div.activity-comments form.ac-form {
			display: none;
			margin: 10px 0 10px 33px;
			background: #f0f0f0;
			border-bottom: 1px solid #ddd;
			border-right: 1px solid #ddd;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			border-radius: 4px;
			padding: 8px;
		}
			div.activity-comments form.root {
				margin-left: 0;
			}

			div.activity-comments div#message {
				margin-top: 15px;
				margin-bottom: 0;
			}

			div.activity-comments form.loading {
				background-image: url( ../images/ajax-loader.gif );
				background-position: 2% 95%;
				background-repeat: no-repeat;
			}

			div.activity-comments form .ac-textarea {
				padding: 8px;
				border: 1px inset #ccc;
				background: #fff;
				margin-bottom: 10px;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border-radius: 3px;
			}
				div.activity-comments form textarea {
					width: 100%;
					font-family: inherit;
					font-size: 0.9em;
					color: #555;
					height: 60px;
					border: none;
					padding: 0;
				}
					div.activity-comments form input {
						margin-top: 5px;
					}

			div.activity-comments form div.ac-reply-avatar {
				float: left;
			}
				div.ac-reply-avatar img {
					border: 2px solid #fff !important;
				}

			div.activity-comments form div.ac-reply-content {
				margin-left: 25px;
				padding-left: 15px;
			}

/** What's New Box ***********************************/

form#whats-new-form {
	background: url( ../images/message_thread_back.gif ) top left repeat-x;
	padding: 15px;
	margin: 10px 0 20px 0;
}
	.widget_bp_activity_widget form#whats-new-form {
		margin-bottom: 5px;
	}

	form#whats-new-form h5 {
		margin: 0;
		font-weight: normal;
		font-size: 12px;
		color: #888;
		margin-left: 58px;
		padding: 0 0 3px 0;
	}

	form#whats-new-form #whats-new-avatar {
		float: left;
	}

	form#whats-new-form #whats-new-content {
		margin-left: 38px;
		padding-left: 22px;
	}

	form#whats-new-form #whats-new-textarea {
		padding: 8px;
		border: 1px inset #ccc;
		background: #fff;
		margin-bottom: 10px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
	}
	form#whats-new-form textarea {
		width: 100%;
		height: 60px;
		font-size: 1.1em;
		font-family: inherit;
		color: #555;
		border: none;
		margin: 0;
		padding: 0;
	}

	form#whats-new-form #whats-new-options select {
		max-width: 150px;
	}

	form#whats-new-form #whats-new-submit {
		float: right;
		margin: 0;
	}

/**** BLOGS *****************/

#blog-info {
	border-bottom: 1px solid #e1e1e1;
}

.post {
	border-bottom: 1px solid #e1e1e1;
}

#main #content .post h2 {
	font: normal 1.6em Georgia, times, serif;
	border: none;
}
	#main #content .post h2 a {
		color: #555;
	}

.post p.date, .small, h2 span {
	color: #888;
	font-size: 0.95em;
}
	.post p.date em {
		color: #f7740a;
		font: italic 1em Georgia, times, serif;
	}

.post span.tags {
	background: url(../images/tag_icon.gif) center left no-repeat;
}

.post span.comments {
	background: url(../images/comments_icon.gif) center right no-repeat;
}

.post-details {
	background: #f0f0f0;
}

h4.archive {
	font: normal 1.2em Georgia, Times, serif;
	text-transform: uppercase;
	border-bottom: 1px solid #e1e1e1;
}


	/*---- Blog Signup Form --------*/

	#setupform label {
		font-weight: bold;
	}
		#setupform p.error {
			background-image: url(../images/error_back.gif);
			background-color: #ff3a3a;
			color: #fff;
		}

		.suffix_address, .prefix_address {
			font-size: 1.4em;
		}

	#setupform input#blog_title, #setupform input#blogname {
		font-size: 1.4em;
	}
		#setupform input#blogname {
			text-align: right;
		}

	#setupform input#submit {
		font-size: 1.4em;
	}

/***** FORUMS ***************/

ul#forum-topic-list li {
	position: relative;
	min-height: 0;
	padding-bottom: 0;
}
	.sticky {
		background-image: url( ../images/message_thread_unread_back.gif ) !important;
	}

	.closed a.topic-title {
		background: url( ../images/closed.png ) no-repeat center left;
		padding: 0 0 0 20px;
	}

	ul#forum-topic-list li span.latest {
		display: block;
		margin-left: 50px;
	}

	ul#forum-topic-list li div.admin-links, ul#topic-post-list li div.admin-links {
		position: absolute;
		top: 1em;
		right: 1em;
		background: #eee;
		display: none;
		padding: 0.1em 0.5em;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		margin-left: 50px;
		margin-bottom: 15px;
		font-size: 0.9em;
		color: #888;
	}
		ul#forum-topic-list li:hover div.admin-links, ul#topic-post-list li:hover div.admin-links { display: inline-block; }

ul#topic-post-list li .poster-meta {
	color: #888;
}

ul#topic-post-list li .poster-meta .avatar {
	float: none !important;
	margin: 0 0.3em 0 0;
	vertical-align: middle;
}

ul#topic-post-list .post-content {
	margin: 1em 0 0 14px;
	border-left: 1px solid #ccc;
	padding-left: 22px;
}

ul#topic-post-list li#topic-meta {
	background-image: url( ../images/message_thread_unread_back.gif ) !important;
	min-height: 20px;
}

	ul#topic-post-list li#topic-meta h3 {
		margin: 12px 0 10px 0;
		font-size: 20px;
	}


ul#topic-post-list li input#submit_reply, input#submit_topic {
	width: auto;
}

div.latest-post {
	font-size: 0.9em;
	color: #888;
	margin-left: 70px;
}

div#post-new-topic, div#edit-topic, div#edit-post, div#post-topic-reply {
	background: url( ../images/message_thread_unread_back.gif ) top left repeat-x;
	padding: 15px
}
	div#edit-post, div#edit-topic { background-image: url( ../images/message_thread_back.gif ); }

div#post-new-topic input,
div#post-new-topic textarea,
div#edit-topic input,
div#edit-topic textarea,
div#edit-post input,
div#edit-post textarea,
div#post-topic-reply input,
div#post-topic-reply textarea {
	padding: 5px;
}
	div#post-new-topic label, div#edit-topic label, div#edit-post lable div#post-topic-reply label {
		display: block;
		margin: 10px 0 3px 0;
	}

	div#edit-post textarea {
		height: 150px;
		width: 98%;
	}

	input#topic_title { width: 80%; }
	input#topic_tags { width: 60%; }
	textarea#topic_text, textarea#reply_text { width: 98%; height: 150px; }

	input#submit_topic, input#submit_reply {
		display: block;
		margin-top: 20px;
	}

div#global-forum-topic-filters ul {
	margin: 0;
	padding: 0;
	list-style: none;
	background: url(../images/item_list_back.gif) top left repeat-x;
	padding: 15px;
	min-height: 22px;
	overflow: hidden;
}

div#global-forum-topic-filters ul li {
	float: left;
	margin-bottom: 5px;
}
	div#global-forum-topic-filters ul li a {
		display: block;
		padding: 2px 8px;
		background-color: #fff !important;
		background-position: 8px 6px !important;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		margin: 0 5px 0 0;
		border: 1px solid #eee;
		text-decoration: none;
	}
		div#global-forum-topic-filters ul li.selected a {
			border: 1px solid #ccc;
			font-weight: bold;
			color: #555;
		}

div#forum-dir-list {
	position: relative;
	margin-top: 30px;
}
	div#forum-dir-list div.pagination {
		position: absolute;
		top: -25px;
	}

table#global-forum-topic-list {
	width: 97%;
	margin: 0 10px;
}
		table#global-forum-topic-list tr.alt {
			background: url( ../images/message_thread_back.gif ) 0 -2px;
		}

		table#global-forum-topic-list td {
			border-top: 1px solid #eee;
			position: relative;
		}
			table#global-forum-topic-list td p.topic-text {
				color: #888;
				font-size: 0.9em;
			}

		table#global-forum-topic-list tr th, table#global-forum-topic-list td.td-postcount,
		table#global-forum-topic-list td.td-freshness {
			text-align: center;
		}


		table#global-forum-topic-list tr th#th-title, table#global-forum-topic-list tr th#th-poster,
		table#global-forum-topic-list tr th#th-group { text-align: left; }

		table#global-forum-topic-list tr td, table#global-forum-topic-list tr th {
			padding: 5px 10px;
			vertical-align: middle;
		}

		table#global-forum-topic-list td.td-freshness {
			font-size: 0.9em;
			color: #888;
		}

		table#global-forum-topic-list td.td-poster, table#global-forum-topic-list td.td-group  {
			min-width: 130px;
		}

		table#global-forum-topic-list img.avatar { float:left; }

		table#global-forum-topic-list div.poster-name, table#global-forum-topic-list div.object-name {
			margin-left: 35px;
		}

	table#global-forum-topic-list th#th-title {
		width: 40%;
	}

	table#global-forum-topic-list th#th-postcount {
		width: 1%;
	}

	table#global-forum-topic-list td img {
		vertical-align: middle;
		margin-right: 4px;
		border-width: 3px !important;
	}

div#popular-group-forum-listing {
	overflow: hidden;
}
	div#popular-group-forum-listing div.group-forum {
		width: 47%;
		float: left;
		min-height: 60px;
		background: url( ../images/message_thread_back.gif ) top left repeat-x;
		padding: 15px 1.5%;
	}
		div.group-forum div.item-avatar {
			float: left;
		}

		div.group-forum div.item {
			margin-left: 70px;
		}
			div.group-forum div.item div.item-title {
				font-size: 1.2em;
				font-family: Georgia, times, serif;
			}

			div.group-forum div.desc {
				font-size: 0.95em;
				color: #888;
				margin-top: 5px;
			}

/**** FRIENDS *****************/

ul#friend-list li {
	background: url(../images/message_thread_back.gif) top left repeat-x;
}


#predefined-lists li {
	padding: 0.25em 0;
}

label#friend-search-label {
	font-size: 0.9em;
}

.profile-data {
	font-size: 0.9em;
	color: #777;
	width: 65%;
	margin-left: 70px;
}

.profile-data .field-name {
	font-weight: bold;
	margin-bottom: -2px;
}

/**** GROUPS *****************/

div.sub-options {
	border-left: 8px solid #eee;
}

#create-group-form, #group-settings-form {
	width: 100%;
	margin: 0 0 35px 0;
}

#create-group-form ul, #group-settings-form ul {
	margin: 5px 0 0 33px;
}
	#group-settings-form .bp-widget ul {
		margin-left: 0;
	}

	#invite-list { margin-bottom: 25px; }

	#invite-list ul, ul#friend-list {
		margin: 0;
	}
		#invite-list input { width: auto !important; }

#create-group-form textarea, #group-settings-form textarea {
	height: 120px;
}

#create-group-form .checkbox, #create-group-form .radio ul, #group-settings-form .checkbox, #group-settings-form .checkbox {
	margin-bottom: 15px;
}

	#create-group-form img.avatar, #group-settings-form img.avatar {
		border: none;
		margin-bottom: 20px;
	}

#create-group-form ul li, #group-settings-form ul li {
	list-style-type: disc;
	padding-left: 5px;
}
	#invite-list ul li {
		list-style: none;
		padding: 0;
	}
		ul#friend-list li { list-style: none; }

ul#group-list li, ul#member-list li, ul#blog-list li, ul#comment-list li, ul.item-list li {
	background: url(../images/message_thread_back.gif) top left repeat-x;
}
	ul.item-list li.banned-user img.avatar {
		border-color: red !important;
	}
		ul.item-list li.banned-user a { color: red; }

#group-list li span.small, #member-list li span.small, #comment-list li span.small, ul.item-list li span.small {
	font-size: 0.95em;
	color: #888;
}
	h5 span.small a { color: #888; text-decoration: underline; }

#group-list p.desc, ul.item-list p.desc {
	font-size: 0.9em;
}

#group-admins img.avatar, #group-mods img.avatar {
	border-width: 3px;
	width: 30px;
	float: left;
	margin-right: 8px;
}

#group-name p.status {
	font: italic 1.6em "Georgia", Times, serif;
	margin: -10px 0 15px 0;
	color: #888;
}


.request-pending {
	text-transform: uppercase;
	font: normal 0.9em Georgia, Times, serif;
	color: #888;
	letter-spacing: 0.5px;
}

#random-groups-list .item-meta {
	margin: 10px 0;
	width: 45%;
	line-height: 180%;
}
	#random-groups-list .desc, #random-groups-list .meta {
		font-size: 0.9em;
	}

	#random-groups-list .desc {
		margin-left: 70px;
	}

	#random-groups-list .action {
		text-align: right;
		margin-top: -20px;
		padding-right: 10px;
	}

#previous-next {
	margin: 35px 0 0 0;
	padding: 15px 0 0 0;
	border-top: 1px solid #ddd;
	clear: left;
}
	#previous-next input#group-creation-previous {
		width: auto;
	}

	#previous-next input#group-creation-next, #previous-next input#group-creation-finish {
		width: auto;
		margin-left: 20px;
	}

#invite-list {
	height: 275px;
	overflow: auto;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
	background: #f5f5f5;
	width: 160px;
}

/**** MESSAGING *****************/

table#message-threads {
	width: 100%;
}
	table#message-threads td {
		vertical-align: middle;
		padding: 10px;
	}
		table#message-threads td p {
			margin: 0;
		}

/* .message-box -- holds each message in a thread */
div.message-box {
	padding: 15px;
	overflow: hidden;
}
	div.message-box .message-metadata {
		float: left;
		width: 100px;
	}
		div.message-box .message-metadata .avatar {
			width: 30px;
			margin-bottom: 10px;
		}

		div.message-box .message-metadata h3 {
			font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, Verdana, Arial, sans-serif;
			font-size: 1em;
			margin: 0 0 5px 0;
		}

		div.message-box .message-metadata small {
			font-size: 0.9em;
			color: #888;
		}

		div.message-box .message-metadata h3 {
			font-size: 1.1em;
		}
	div.message-box .message-content {
		margin-left: 130px;
	}

.ajax_reply {
	padding: 15px;
}

table#message-threads tr, .message-box {
	background: url(../images/message_thread_back.gif) top left repeat-x;
}

table#message-threads tr.unread {
	background-image: url(../images/message_thread_unread_back.gif);
}
	td p.date {
		color: #888;
		font-size: 0.95em;
	}

.avatar-box {
	border: none !important;
}

	#main #content .avatar-box h3 {
		font: bold 1em "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, Verdana, Arial, sans-serif;;
	}

	.avatar-box small {
		line-height: 1.5;
		font-size: 0.9em;
		color: #888;
	}

#message_content_tbl { border: 1px solid #ddd; }
.mceToolbar, .mceStatusbar { background: #eee; }
.mceToolbar a { color: #bbb !important; }

div.ajax_reply, div.error-box {
	text-align: center;
	background: #EAF3FA;
	color: #2583AD;
}

div.error-box {
	background-image: url(../images/error_back.gif);
	background-color: #ff3a3a;
	color: #fff;
}

#send_message_form {
	margin-top: 15px;
}

#send_message_form input {
	font-size: 1.4em;
}

#send_message_form textarea {
	height: 200px;
	font-size: 1.1em;
	width: 98%;
}

#send_message_form input#send, input#send_reply_button {
	font-size: 1.2em;
	font-weight: bold;
}

form#send-reply textarea {
	width: 98%;
}

table#message-threads a.delete {
	overflow: hidden;
	text-indent: -999px;
	display: block;
	float: left;
	margin-top: 2px;
	background: url(../images/error_icon.gif) top left no-repeat;
	width: 12px;
	height: 13px;
}

span.unread-count {
	background: #f7740a;
	border: 2px solid #f7740a;
	padding: 0 0.5em;
	color: #fff;
	font-size: 0.8em;
	font-weight: bold;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
	.read .unread-count { display: none; }

.messages-options {
	font: normal 0.9em "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif !important;
	text-transform: none;
	color: #888;
}
	.messages-options a { color: #888; }

.notice {
	background: url(../images/notice_back.gif) top left repeat-x;
}
	.notice h5 {
		font: normal 1.4em Georgia, Times, serif;
	}

	.notice a { color: #0051FF;}


/**** PROFILES ************************/

table.profile-fields tr { position: relative; }

table.profile-fields tr.alt, table.wp-profile-fields tr.alt {
	background: #f0f0f0;
}

table.profile-fields tr td.label, table.wp-profile-fields tr td.label {
	border-right: 1px solid #dadada;
	font-weight: bold;
	position: relative;
}

td.data p {
	margin: 0.2em 0;
}

table.profile-fields, table.wp-profile-fields {
	width: 100%;
}
	table.profile-fields tr td, table.wp-profile-fields tr td {
		padding: 0.5em 1em;
	}

	table.profile-fields tr td.label, table.wp-profile-fields tr td.label {
		width: 130px;
	}

#profile-edit-form p.description {
	font-size: 0.9em;
	color: #888;
	margin-top: 5px;
}
	div#delete-avatar-button {
		margin-bottom: 25px;
	}

#profile-edit-form .radio label, #profile-edit-form .checkbox label {
	margin-right: 15px;
}


/**** WIRE ***********************/

#wire-post-list li, #wire-post-new {
	background: url(../images/message_thread_back.gif) top left repeat-x;
}

	.wire-post-metadata, #wire-post-new-metadata {
		color: #888;
		font-size: 0.9em;
	}

	.wire-post-content {
		margin-left: 68px;
	}

#wire-post-new:hover {
	position: relative;
	background: url(../images/message_thread_unread_back.gif) top left repeat-x;
}

#wire-post-new textarea {
	font: normal 1em "Lucida Grande", "Lucida Sans Unicode", Arial, Tahoma, sans-serif;
}

form#wire-post-new-form {
	padding: 10px;
	position: relative;
}

div#wire-post-new {
	margin-top: 15px;
}
	p#wire-email-notify {
		float: right;
		margin: 0;
	}

	div#wire-post-new-avatar {
		float: left;
	}

	div#wire-post-new-metadata {
		position: absolute;
		bottom: 0.9em;
		right: 10px;
	}
		span#wire-by-text {
			display: none;
		}

	div#wire-post-new-input {
		margin-left: 70px;
	}
		div#wire-post-new-input textarea {
			height: 45px;
			width: 98%;
			margin: 5px 0 0 0;
		}

		input#wire-post-submit {
			margin-top: 10px;
		}


/**** STATUS UPDATES *************/

div#user-status {
	margin: 0;
	padding-bottom: 20px;
	font: normal 1.3em Georgia, times, serif;
}
	div#user-status a#status-new-status {
		font: normal 1.1em Georgia, times, serif;
		color: #888;
		font-style: italic;
	}
		div#user-status div.generic-button a#status-new-status {
			font: normal 0.9em "Lucida Grande", "Lucida Sans Unicode", Arial, Tahoma, sans-serif;
		}

		input#status-update-input, textarea#status-update-input {
			padding: 5px;
			width: 98%;
			font: normal 1em "Lucida Grande", "Lucida Sans Unicode", Arial, Tahoma, sans-serif;
			color: #888;
		}

		div#status-update-buttons {
			margin: 10px 0 0 0;
		}
			div#status-update-buttons input {
				width: auto;
			}

		div#user-status label {
			display: block;
			font: normal 1em Georgia, times, serif;
			color: #888;
			font-style: italic;
			padding: 0 0 5px 0;
		}

		a#status-new-status, a#status-clear-status {
			padding-top: 2px;
			font: normal 0.9em "Lucida Grande", "Lucida Sans Unicode", Arial, Tahoma, sans-serif;
		}
			a#status-clear-status { color: red; }

		div#user-status span.time-since {
			color: #aaa;
			font: normal 0.9em "Lucida Grande", "Lucida Sans Unicode", Arial, Tahoma, sans-serif;
			padding-left: 3px;
		}

/**** SETTINGS SCREEN ***************************/

form#settings-form label span {
	color: #888;
	font-size: 0.9em;
}

input.settings-input {
	padding: 0.2em;
	width: 65%;
	margin-bottom: 15px;
}
	input.small { width: 45%; }
	input.auto { width: auto; }

table.notification-settings {
	width: 80%;
	margin-bottom: 20px;
}
	table.notification-settings td {
		padding: 3px 0;
	}

	table.notification-settings th.icon {
		width: 35px;
	}

	table.notification-settings th.title {
		width: 80%;
	}

	table.notification-settings .yes, table.notification-settings .no {
		width: 40px;
	}

input.settings-input {
	color: #777;
	font-family: inherit;
	font-size: 1.3em;
}

	table.notification-settings th {
		font-weight: bold;
	}

	table.notification-settings tr {
		border-bottom: 1px solid #eee;
	}

	table.notification-settings th.icon {
		background: center center no-repeat;
	}

	table.notification-settings .yes, table.notification-settings .no {
		text-align: center;
	}

	table#profile-notification-settings th.icon {
		background-image: url(../images/profile_bullet.gif);
	}

	table#messages-notification-settings th.icon {
		background-image: url(../images/messages_bullet.gif);
	}

	table#friends-notification-settings th.icon {
		background-image: url(../images/friends_bullet.gif);
	}

	table#groups-notification-settings th.icon {
		background-image: url(../images/groups_bullet.gif);
	}


/*** Footer ***********************************************************************/

#footer {
	clear: both;
	background: url(../images/content_header.gif) repeat-x #eee;
	text-align: center;
	padding: 15px;
	font: normal 1.1em Georgia, times, serif;
	height: 45px;
	position: relative;
	z-index: 999;
}