.bp-dynamic-block-container .item-options {
	font-size: 0.5em;
	margin: 0 0 1em;
	padding: 1em 0;
}

.bp-dynamic-block-container .item-options a.selected {
	font-weight: 600;
}

.bp-dynamic-block-container ul.item-list {
	list-style: none;
	margin: 1em 0;
}

.bp-dynamic-block-container ul.item-list li {
	margin-bottom: 1em;
}

.bp-dynamic-block-container ul.item-list li:before, .bp-dynamic-block-container ul.item-list li:after {
	content: " ";
	display: table;
}

.bp-dynamic-block-container ul.item-list li:after {
	clear: both;
}

.bp-dynamic-block-container ul.item-list li .item-avatar {
	float: right;
	width: 60px;
}

.bp-dynamic-block-container ul.item-list li .item {
	margin-right: 70px;
}
