/* CSS for the bp/group block */
.bp-block-group {
	position: relative;
}

.bp-block-group .group-content {
	display: flex;
}

.bp-block-group.has-cover .group-content,
.bp-block-group.has-cover .item-header-avatar,
.bp-block-group.has-cover .group-description {
	z-index: 2;
}

.bp-block-group .group-description {
	width: 100%;
}

.bp-block-group.has-cover .group-description {
	padding-top: 75px;
}

.bp-block-group.avatar-full .group-description {
	padding-left: 35px;
}

.bp-block-group.has-cover .bp-group-cover-image {
	background-color: #c5c5c5;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	border: 0;
	display: block;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
	height: 150px;
}

.bp-block-group img.avatar {
	width: auto;
	height: auto;
}

.bp-block-group.avatar-none .item-header-avatar {
	display: none;
}

.bp-block-group.avatar-none.has-cover {
	min-height: 200px;
}

.bp-block-group.avatar-full {
	min-height: 150px;
}

.bp-block-group.avatar-full.has-cover {
	min-height: 300px;
}

.bp-block-group.avatar-full .item-header-avatar {
	width: 180px;
}

.bp-block-group.has-cover.avatar-full .item-header-avatar {
	width: 200px;
}

.bp-block-group.has-cover.avatar-full img.avatar {
	border: solid 2px #fff;
	background: rgba(255, 255, 255, 0.8);
	margin-left: 20px;
}

.bp-block-group.has-cover .group-content {
	padding-top: 75px;
}

.bp-block-group.avatar-thumb .item-header-avatar img.avatar {
	margin-top: 15px;
}

.bp-block-group.avatar-thumb:not(.has-description) .group-content {
	min-height: 50px;
	align-items: center;
}

.bp-block-group .group-description-content {
	width: 100%;
	margin-bottom: 18px;
}

.bp-block-group.avatar-thumb .item-header-avatar {
	width: 70px;
}

.bp-block-group.avatar-thumb.has-cover .item-header-avatar {
	padding-top: 75px;
}

.bp-block-group .bp-profile-button {
	width: 100%;
	overflow: hidden;
}

.bp-block-group .bp-profile-button a.button {
	margin: 18px 0 0;
}

.bp-block-group.has-description .bp-profile-button a.button {
	display: block;
	float: right;
}
