div#bp-admin {
	background: #fff;
	margin: 25px 15px 25px 0;
	padding: 20px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: #eee 0 -1px 4px;
	-webkit-box-shadow: #eee 0 -1px 4px;
	-khtml-box-shadow: #eee 0 -1px 4px;
	box-shadow: #eee 0 -1px 4px;
	font-family: helvetica, arial, tahoma, sans-serif;
	color: #555;
	overflow: hidden;
	min-width: 680px;
}
	div#bp-admin p { line-height: 170%; }

div#bp-admin div#bp-admin-header {
	height: 60px;
}

div#bp-admin h3, div#bp-admin h4 {
	margin: 0;
}
	div#bp-admin h2 {
		font-family: helvetica, arial, tahoma, sans-serif;
		color: #555;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
	}

	div#bp-admin h3 {
		text-indent: -999em;
		overflow: hidden;
		width: 212px;
		height: 49px;
		background: url( ../images/logo.gif ) top left no-repeat;
		border-right: 1px solid #eee;
		padding-right: 20px;
		float: left;
	}

	div#bp-admin h4 {
		padding-left: 20px;
		font-size: 28px;
		float: left;
		margin: 17px 0 0 0;
	}

div#bp-admin-nav {
	background: #f0f0f0;
	margin: 15px -19px 10px -19px;
	padding: 8px 19px 0 19px;
	height: 30px;
}
	div#bp-admin-nav ol {
		list-style-type: decimal;
		margin: 0;
		padding: 0;
	}
		div#bp-admin-nav ol li {
			float: left;
			margin: 0 10px 0 0;
			color: #bbb;
		}
			div#bp-admin-nav ol li {
				padding: 8px 12px;
				display: block;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				text-decoration: none;
			}
				div#bp-admin-nav ol li.current {
					background: #fff;
					color: #555;
				}
	div#bp-admin-nav ol li span.complete {
		background: url( ../images/completed.gif ) center left no-repeat;
		padding: 6px;
	}

div#bp-admin div.left-col, div#bp-admin div.right-col {
	width: 323px;
	float: left;
	margin: 15px 30px 0 0;
}
div#bp-admin div.right-col { margin-right: 0; }

div.component {
	width: 323px;
	margin: 10px 0 40px 0;
}
	div.component div.radio {
		position: relative;
		background: #f4f4f4;
		padding: 5px 10px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		top: -6px;
		right: 10px;
	}

	div.component img {
		margin-top: 2px;
	}

	div.component p {
		margin-left: 4px;
	}

	div.component h5 {
		font-size: 15px;
		float: left;
		margin: 0 0 0 4px;
	}

	div.component div.radio {
		font-size: 11px;
		float: right;
	}

div#bp-admin div.prev-next, div#bp-admin div.prev-next p,
div#bp-admin div.submit, div#bp-admin div.submit p {
	margin: 0;
	padding: 0;
}
div#bp-admin div.submit { margin-top: 30px; }
div#bp-admin div.prev-next { text-align: right; margin-top: 0; }

div#bp-admin div.prev-next {
	border-bottom: 1px solid #f0f0f0;
	margin: 0 -20px;
	padding: 0 20px 10px;
}

div#bp-admin table td {
	font-family: helvetica, arial, tahoma, sans-serif;
}

div#bp-admin table.form-table th {
	border-right: 1px solid #eee;
	width: 208px;
	padding: 15px 25px 15px 0;
	color: #555;
}
	div#bp-admin table.form-table tr {
		border-bottom: 1px dotted #f0f0f0;
	}
	div#bp-admin table.form-table td { padding-left: 25px; font-size: 12px; }

	div#bp-admin table.form-table th h5 {
		font-size: 14px;
		margin: 0;
		line-height: 150%;
	}

	div#bp-admin table.form-table th img {
		margin-top: 5px;
	}

	div#bp-admin table.form-table th p { margin: 3px 0 0 0; }

div#bp-admin code, div#bp-admin kbd {
	font-size: 12px;
	background: #f0f0f0;
}

div#bp-admin div#message code, div#bp-admin div#message kbd {
	background: #ffe293;
}

a.button {
	padding-top: 4px;
}

a.installed, a.installed:hover, a.installed:active {
	padding-left: 15px;
	color: #888;
	border-color: #ccc;
	cursor: default;
}

a.installed span {
	background: url( ../images/installed.gif) left center no-repeat;
	padding: 6px 10px 7px 6px;
	margin-left: -5px;
}
