ul#letter-list, ul#members-list {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}
	ul#letter-list li {
		float: left;
		margin: 0 4px 3px 0;
		width: 3.2%;
	}
		ul#letter-list li a {
			display: block;
			background: #eee;
			text-align: center;
			text-decoration: none;
			font-size: 12px;
			color: inherit;
			font-family: Georgia, Times, serif;
		}
		
		ul#letter-list li a:hover {
			font-weight: bold;
			background: #fff9df;
			color: #f7740a;
		}

ul#members-list {
	margin: 18px 0 0 0;
}

ul#members-list li {
	position: relative;
}

	ul#members-list li .item-avatar, .avatar-block img.avatar {
		float: left;
		margin: 0 15px 0 0;
	}
	
	ul#members-list li .item-avatar img, img.avatar {
		border: 3px solid #ddd;
	}
	
	ul#members-list li h4.item-title {
		margin: 0 0 7px 0;	
	}
		
	ul#members-list li .item {
		margin-left: 71px;
	}
	
	ul#members-list li .item-meta {
		margin: 10px 0;
	}
	
	ul#members-list .item-options {
		text-align: right;
		font-size: 0.9em;
		margin: -15px 0 5px 0;
	}
	
	ul#members-list li div.action {
		position: absolute;
		top: 20%;
		right: 1em;
		text-align: right;
	}
		div.action div.friendship-button {
			margin-bottom: 5px;
		}
		
		div.action div.meta {
			font-size: 0.9em;
		}
	
/* Search Form */

#search-members-form input {
	width: 72%;
	padding: 0.3em 0.3em;
	font-size: 1.1em;
	font-family: Georgia, Times, serif;
}
	#search-members-form #members_search_submit {
		width: auto;
		font-size: 1.1em;
	}

	.profile-data {
		font-size: 0.9em;
		color: #777;
	}
	
	.profile-data .field-name {
		font-weight: bold;
	}
	
/* Pag Links */

.pagination-links {
	margin-top: -0.7em;
	float: right;
}
	.pagination-links .page-numbers {
		padding: 0.65em 0.7em;
		height: 24px;
	}
	.pagination-links .current {
		padding: 0.5em 0.7em;
	}
	
	div.info-group .pagination-links {
		margin: 0 0 5px 0;
		float: none;
		text-align: right;
	}
	
.pag-count {
	margin-bottom: -12px;
}

/* Buttons */

.friendship-button {
	background: url(../../bp-core/images/button_back.gif) top left no-repeat;
	display: inline-block;
	margin-bottom: 10px;
}

.friendship-button a {
	display: block;
	height: 19px;
	color: #777;
	font-size: 11px;
	padding: 0 33px 0 11px;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
}
	.friendship-button a:hover {
		color: #555;
	}

	.friendship-button a.add {
		background: url(../../bp-core/images/add_button_side.gif) top right no-repeat;
	}

	.friendship-button a.remove {
		background: url(../../bp-core/images/remove_button_side.gif) top right no-repeat;
	}

	.friendship-button a.requested {
		background: url(../../bp-core/images/check_button_side.gif) top right no-repeat;
	}
	
	.loading a {
		background: url(../../bp-core/images/loading_button_side.gif) top right no-repeat !important;		
	}
	
	