/***** FORUMS ***************/

ul#topic-post-list li .poster-meta .avatar {
	float: none !important;
	margin: 0 0.3em 0 0;
	vertical-align: middle;
}

ul#topic-post-list .post-content {
	margin: 1em 0 0 0;
}

ul#topic-post-list li#topic-meta {
	background-image: url( ../images/message_thread_unread_back.gif ) !important;
	min-height: 20px;
}

ul#topic-post-list li input#submit_reply, input#submit_topic {
	width: auto;
}

div.latest-post {
	font-size: 0.9em;
	color: #888;
	margin-left: 70px;
}

div#post-new-topic, div#post-topic-reply {
	background: url( ../images/message_thread_back.gif ) top left repeat-x;
	padding: 15px
}

div#post-new-topic input,
div#post-new-topic textarea,
div#post-topic-reply input,
div#post-topic-reply textarea {
	padding: 5px;
}
	div#post-new-topic label, div#post-topic-reply label {
		display: block;
		margin: 10px 0 3px 0;
	}
	
	input#topic_title { width: 80%; }
	input#topic_tags { width: 60%; }
	textarea#topic_text, textarea#reply_text { width: 98%; height: 150px; }
	
	input#submit_topic, input#submit_reply {
		display: block;
		margin-top: 20px;
	}