/* 
Basic layout structure styles for BuddyPress Activity Streams. Formats BuddyPress activity pages within any WordPress theme.
No colors, fonts or pretty stuff. 

These structure styles can be overridden by the theme CSS file if needed.
*/

#activity-list li {
	margin: 15px 0;
}

#activity-list li blockquote {
	padding: 7px 15px 7px 40px;
	margin: 5px 0;
}