body.directory #main {
	padding: 0 20px;
}

div#directory-main {
	float: left;
	width: 68%;
	margin: 0 4% 0 0;
}

div#directory-sidebar {
	float: left;
	width: 28%;
}

div#directory-main h3, div#directory-sidebar h3 {
	padding: 3px 8px;
	margin-bottom: 5px;
	height: 36px;
	font-weight: bold;
	background: url(../images/leftcol_header_back.gif) top left no-repeat;
}
	div#directory-sidebar h3 {
		background-image: url(../images/rightcol_header_back.gif);
		color: #fff;
	}

	div#directory-main h3 a, div#directory-sidebar h3 a {
		text-decoration: none;
		color: #555;
	}
		div#directory-sidebar h3 a { color: #fff; }


div.directory-listing, div.directory-featured {
	margin: 20px 0;
}

body.directory div.pag-count {
	margin: 0 0 5px 0;
}
	
body.directory div.pagination-links {
	margin-top: -2.1em;
}

.directory-search input {
	width: 70%;
	padding: 0.3em 0.3em;
	font-size: 1.1em;
	font-family: Georgia, Times, serif;
}

/** Letter Listing *************************/

ul#letter-list, ul#members-list {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}
	ul#letter-list li {
		float: left;
		margin: 0 4px 3px 0;
		width: 3.2%;
		min-width: 15px;
		list-style: none;
		padding: 0;
	}
		ul#letter-list li a {
			display: block;
			background: #eee;
			text-align: center;
			text-decoration: none;
			font-size: 12px;
			color: inherit;
			font-family: Georgia, Times, serif;
		}
		
		ul#letter-list li a:hover {
			font-weight: bold;
			background: #fff9df;
			color: #f7740a;
		}

.directory-search #members_search_submit, .directory-search #groups_search_submit,
.directory-search #blogs_search_submit {
	width: auto;
	font-size: 1.1em;
}

.meta {
	font-size: 0.9em;
}

.directory-listing .action {
	text-align: right;
	top: 20px;
	margin-right: 10px;
	color: #888;
}

div.directory-featured div.field-data {
	margin-top: 15px;
}

	div.directory-featured div.field-data div.field-name {
		margin-left: 70px;
		font-size: 0.9em;
		color: #777;
	}

/** Member Directory Specific ********************/

div#blogs-directory-listing .action {
	top: 25px;
}

/** Group Directory Specific ********************/

div#groups-directory-listing .desc {
	margin: 10px 0 0 71px;
	font-size: 0.9em;
}

/** Blog Directory Specific ********************/

div#blogs-directory-listing .action {
	top: 20px;
}

.blog-button {
	background: url(../images/button_back.gif) top left no-repeat;
	display: inline-block;
	margin: 0 5px 8px 0;
}

.blog-button a {
	display: block;
	height: 19px;
	color: #777;
	font-size: 11px;
	padding: 0 33px 0 11px;
	margin-right: -7px;
	text-shadow: 0 1px 0 #fff;
		text-decoration: none;
}
	.blog-button a:hover {
		color: #555;
		text-decoration: none;
	}

	.blog-button a.visit {
		background: url(../images/view_button_side.gif) top right no-repeat;
	}


