/**
 * CSS that is always loaded when in wp-admin
 *
 * @since BuddyPress (1.6)
 */

/* Icon 32's
------------------------------------------------------------------------------*/

div#icon-buddypress {
	background: url( ../images/icons32.png ) no-repeat -370px -6px;
}

div#icon-buddypress-activity {
	background: url( ../images/icons32.png ) no-repeat -10px -6px;
}

/* Menu Icons
------------------------------------------------------------------------------*/

/* Wizard */
ul#adminmenu li.toplevel_page_bp-wizard .wp-menu-image a img {
	display: none;
}
ul#adminmenu li.toplevel_page_bp-wizard .wp-menu-image a {
	background-image: url( ../images/menu.png ) !important;
	background-position: -178pxpx -34px;
}
ul#adminmenu li.toplevel_page_bp-wizard:hover .wp-menu-image a,
ul#adminmenu li.toplevel_page_bp-wizard.wp-has-current-submenu .wp-menu-image a {
	background-position: -178px -2px;
}

/* Backpat */
ul#adminmenu li.toplevel_page_bp-components .wp-menu-image a img,
ul#adminmenu li.toplevel_page_bp-general-settings .wp-menu-image a img {
	display: none;
}

ul#adminmenu li.toplevel_page_bp-components .wp-menu-image a,
ul#adminmenu li.toplevel_page_bp-general-settings .wp-menu-image a {
	background-image: url( ../images/menu.png ) !important;
	background-position: -178px -34px;
}

ul#adminmenu li.toplevel_page_bp-components:hover .wp-menu-image a,
ul#adminmenu li.toplevel_page_bp-general-settings:hover .wp-menu-image a,
ul#adminmenu li.toplevel_page_bp-components.wp-has-current-submenu .wp-menu-image a,
ul#adminmenu li.toplevel_page_bp-general-settings.wp-has-current-submenu .wp-menu-image a {
	background-position: -178px -2px;
}

/* Activity */
ul#adminmenu li.toplevel_page_bp-activity .wp-menu-image a img {
	display: none;
}
ul#adminmenu li.toplevel_page_bp-activity .wp-menu-image a {
	background-image: url( ../images/menu.png ) !important;
	background-position: 0px -34px;
}
ul#adminmenu li.toplevel_page_bp-activity:hover .wp-menu-image a,
ul#adminmenu li.toplevel_page_bp-activity.current .wp-menu-image a,
ul#adminmenu li.toplevel_page_bp-activity.wp-has-current-submenu .wp-menu-image a {
	background-position: 0 -2px;
}


/* Components
------------------------------------------------------------------------------*/

td.plugin-title span {
	float: left;
	width: 18px;
	height: 18px;
	background-image: url( ../images/menu.png );
	background-position: -4px -40px;
	background-repeat: no-repeat;
	margin-right: 5px;
}

tr.active td.plugin-title span {
	background-position-y: -7px;
}

tr.activity td.plugin-title span {
	background-position-x: -4px;
}

tr.xprofile td.plugin-title span {
	background-image: url( ../images/menu-wp.png );
	background-position-x: -305px;
}

tr.settings td.plugin-title span {
	background-image: url( ../images/menu-wp.png );
	background-position-x: -334px;
}

tr.groups td.plugin-title span {
	background-position-x: -66px;
}

tr.messages td.plugin-title span {
	background-position-x: -154px;
}

tr.forums td.plugin-title span {
	background-image: url( ../images/menu-wp.png );
	background-position-x: -36px;
}

tr.blogs td.plugin-title span {
	background-position-x: -125px;
}

tr.friends td.plugin-title span {
	background-position-x: -95px;
}

tr.core td.plugin-title span {
	background-position-x: -184px;
}

tr.members td.plugin-title span {
	background-position-x: -36px;
}

/* Dashboard Widget
------------------------------------------------------------------------------*/

#bp-dashboard-right-now p.sub,
#bp-dashboard-right-now .table,
#bp-dashboard-right-now .versions {
	margin: -12px;
}

#bp-dashboard-right-now .inside {
	font-size: 12px;
	padding-top: 20px;
	margin-bottom: 0;
}

#bp-dashboard-right-now p.sub {
	padding: 5px 0 15px;
	color: #8f8f8f;
	font-size: 14px;
	position: absolute;
	top: -17px;
	left: 15px;
}

	body.rtl #bp-dashboard-right-now p.sub {
		right: 15px;
		left: auto;
	}

#bp-dashboard-right-now .table {
	margin: 0;
	padding: 0;
	position: relative;
}

#bp-dashboard-right-now .table_content {
	float: left;
	border-top: #ececec 1px solid;
	width: 45%;
}

	body.rtl #bp-dashboard-right-now .table_content {
		float: right;
	}

#bp-dashboard-right-now .table_discussion {
	float: right;
	border-top: #ececec 1px solid;
	width: 45%;
}

	body.rtl #bp-dashboard-right-now .table_discussion {
		float: left;
	}

#bp-dashboard-right-now table td {
	padding: 3px 0;
	white-space: nowrap;
}

#bp-dashboard-right-now table tr.first td {
	border-top: none;
}

#bp-dashboard-right-now td.b {
	padding-right: 6px;
	text-align: right;
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	font-size: 14px;
	width: 1%;
}

	body.rtl #bp-dashboard-right-now td.b {
		padding-left: 6px;
		padding-right: auto;
	}

#bp-dashboard-right-now td.b a {
	font-size: 18px;
}

#bp-dashboard-right-now td.b a:hover {
	color: #d54e21;
}

#bp-dashboard-right-now .t {
	font-size: 12px;
	padding-right: 12px;
	padding-top: 6px;
	color: #777;
}

	body.rtl #bp-dashboard-right-now .t {
		padding-left: 12px;
		padding-right: auto;
	}

#bp-dashboard-right-now .t a {
	white-space: nowrap;
}

#bp-dashboard-right-now .spam {
	color: red;
}

#bp-dashboard-right-now .waiting {
	color: #e66f00;
}

#bp-dashboard-right-now .approved {
	color: green;
}

#bp-dashboard-right-now .versions {
	padding: 6px 10px 12px;
	clear: both;
}

#bp-dashboard-right-now .versions .b {
	font-weight: bold;
}

#bp-dashboard-right-now a.button {
	float: right;
	clear: right;
	position: relative;
	top: -5px;
}

	body.rtl #bp-dashboard-right-now a.button {
		float: left;
		clear: left;
	}

