/**
 * CSS that is always loaded when in wp-admin
 *
 * @since BuddyPress (1.6)
 */

/* Icon 32's
------------------------------------------------------------------------------*/

body.branch-3-6 div#icon-buddypress,
body.branch-3-7 div#icon-buddypress {
	background: url('../images/icons32.png') no-repeat -370px -6px;
}

body.branch-3-6 div#icon-buddypress-activity,
body.branch-3-7 div#icon-buddypress-activity {
	background: url('../images/icons32.png') no-repeat -10px -6px;
}

body.branch-3-6 div#icon-buddypress-groups,
body.branch-3-7 div#icon-buddypress-groups {
	background: url('../images/icons32.png') no-repeat -250px -6px;
}

/* Menu Icons
------------------------------------------------------------------------------*/

/* Backpat */
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-components .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-general-settings .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-components .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-general-settings .wp-menu-image {
	background-image: url('../images/menu.png') !important;
	background-position: -178px -34px;
}

body.branch-3-6 ul#adminmenu li.toplevel_page_bp-components:hover .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-general-settings:hover .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-components.wp-has-current-submenu .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-general-settings.wp-has-current-submenu .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-components:hover .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-general-settings:hover .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-components.wp-has-current-submenu .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-general-settings.wp-has-current-submenu .wp-menu-image {
	background-position: -178px -2px;
}

/* Activity */
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-activity .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-activity_network .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-activity .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-activity_network .wp-menu-image {
	background-image: url('../images/menu.png');
	background-position: 0 -34px;
}
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-activity:hover .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-activity.current .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-activity.wp-has-current-submenu .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-activity_network:hover .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-activity_network.current .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-activity_network.wp-has-current-submenu .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-activity:hover .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-activity.current .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-activity.wp-has-current-submenu .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-activity_network:hover .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-activity_network.current .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-activity_network.wp-has-current-submenu .wp-menu-image {
	background-position: 0 -2px;
}

/* Groups */
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-groups .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-groups_network .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-groups .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-groups_network .wp-menu-image {
	background-image: url('../images/menu.png');
	background-position: -61px -34px;
}
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-groups:hover .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-groups.current .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-groups.wp-has-current-submenu .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-groups_network:hover .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-groups_network.current .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-groups_network.wp-has-current-submenu .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-groups:hover .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-groups.current .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-groups.wp-has-current-submenu .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-groups_network:hover .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-groups_network.current .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-groups_network.wp-has-current-submenu .wp-menu-image {
	background-position: -61px -2px;
}

/* Tools */
#adminmenu .toplevel_page_network-tools div.wp-menu-image:before {
    content: "ï„‡";
}

th.column-gid {
	width: 60px;
}
td.column-gid {
	vertical-align: middle;
}
table.bp-group-members th,
table.bp-group-members td {
	padding: 5px 0;
}
table.bp-group-members .uid-column {
	padding-left: 20px;
	padding-right: 20px;
}
table.bp-group-members .uname-column {
	width: 70%;
}
table.bp-group-members .urole-column {
	padding-left: 20px;
	padding-right: 20px;
}

/* Components
------------------------------------------------------------------------------*/

/* Dashicons */
#adminmenu #toplevel_page_bp-activity .wp-menu-image:before,
#adminmenu #toplevel_page_bp-activity_user .wp-menu-image:before,
#adminmenu #toplevel_page_bp-activity_network .wp-menu-image:before {
	content: "\f452";
}

#adminmenu #toplevel_page_bp-groups .wp-menu-image:before,
#adminmenu #toplevel_page_bp-groups_user .wp-menu-image:before,
#adminmenu #toplevel_page_bp-groups_network .wp-menu-image:before {
	content: "\f456";
}

#adminmenu #toplevel_page_bp-notifications .wp-menu-image:before,
#adminmenu #toplevel_page_bp-notifications_user .wp-menu-image:before,
#adminmenu #toplevel_page_bp-notifications_network .wp-menu-image:before {
	content: "\f439";
}

#adminmenu #toplevel_page_bp-messages .wp-menu-image:before,
#adminmenu #toplevel_page_bp-messages_user .wp-menu-image:before,
#adminmenu #toplevel_page_bp-messages_network .wp-menu-image:before {
	content: "\f457";
}

#adminmenu #toplevel_page_bp-friends .wp-menu-image:before,
#adminmenu #toplevel_page_bp-friends_user .wp-menu-image:before,
#adminmenu #toplevel_page_bp-friends_network .wp-menu-image:before{
	content: "\f454";
}

#adminmenu #toplevel_page_bp-settings .wp-menu-image:before,
#adminmenu #toplevel_page_bp-settings_user .wp-menu-image:before,
#adminmenu #toplevel_page_bp-settings_network .wp-menu-image:before {
	content: "\f108";
}

#adminmenu li.toplevel_page_bp-components .wp-menu-image,
#adminmenu li.toplevel_page_bp-general-settings .wp-menu-image {
	content: "\f448";
}

/* Dashicons overrides for backward compatibility */
body.branch-3-6 #adminmenu #toplevel_page_bp-activity .wp-menu-image:before,
body.branch-3-6 #adminmenu #toplevel_page_bp-activity_network .wp-menu-image:before,
body.branch-3-6 #adminmenu #toplevel_page_bp-groups .wp-menu-image:before,
body.branch-3-6 #adminmenu #toplevel_page_bp-groups_network .wp-menu-image:before,
body.branch-3-6 #adminmenu li.toplevel_page_bp-components .wp-menu-image,
body.branch-3-6 #adminmenu li.toplevel_page_bp-general-settings .wp-menu-image,
body.branch-3-7 #adminmenu #toplevel_page_bp-activity .wp-menu-image:before,
body.branch-3-7 #adminmenu #toplevel_page_bp-activity_network .wp-menu-image:before,
body.branch-3-7 #adminmenu #toplevel_page_bp-groups .wp-menu-image:before,
body.branch-3-7 #adminmenu #toplevel_page_bp-groups_network .wp-menu-image:before,
body.branch-3-7 #adminmenu li.toplevel_page_bp-components .wp-menu-image,
body.branch-3-7 #adminmenu li.toplevel_page_bp-general-settings .wp-menu-image {
	content: "";
}

/* Settings - Dashicons (WP 3.8+) */
.settings_page_bp-components td.plugin-title span {
	float: left;
	width: 18px;
	height: 18px;
	margin-right: 5px;
}

.settings_page_bp-components td.plugin-title span:before {
	font-family: 'dashicons';
	font-size: 18px;
}

.settings_page_bp-components tr.activity td.plugin-title span:before {
	content: "\f452";
}

.settings_page_bp-components tr.notifications td.plugin-title span:before {
	content: "\f339";
}

.settings_page_bp-components tr.xprofile td.plugin-title span:before {
	content: "\f336";
}

.settings_page_bp-components tr.settings td.plugin-title span:before {
	content: "\f108";
}

.settings_page_bp-components tr.groups td.plugin-title span:before {
	content: "\f456";
}

.settings_page_bp-components tr.messages td.plugin-title span:before {
	content: "\f457";
}

.settings_page_bp-components tr.forums td.plugin-title span:before {
	content: "\f452";
}

.settings_page_bp-components tr.blogs td.plugin-title span:before {
	content: "\f120";
}

.settings_page_bp-components tr.friends td.plugin-title span:before {
	content: "\f454";
}

/* Settings - Legacy (< WP 3.8) */
body.branch-3-6.settings_page_bp-components tr.activity td.plugin-title span:before,
body.branch-3-6.settings_page_bp-components tr.notifications td.plugin-title span:before,
body.branch-3-6.settings_page_bp-components tr.xprofile td.plugin-title span:before,
body.branch-3-6.settings_page_bp-components tr.settings td.plugin-title span:before,
body.branch-3-6.settings_page_bp-components tr.groups td.plugin-title span:before,
body.branch-3-6.settings_page_bp-components tr.messages td.plugin-title span:before,
body.branch-3-6.settings_page_bp-components tr.forums td.plugin-title span:before,
body.branch-3-6.settings_page_bp-components tr.blogs td.plugin-title span:before,
body.branch-3-6.settings_page_bp-components tr.friends td.plugin-title span:before,
body.branch-3-7.settings_page_bp-components tr.activity td.plugin-title span:before,
body.branch-3-7.settings_page_bp-components tr.notifications td.plugin-title span:before,
body.branch-3-7.settings_page_bp-components tr.xprofile td.plugin-title span:before,
body.branch-3-7.settings_page_bp-components tr.settings td.plugin-title span:before,
body.branch-3-7.settings_page_bp-components tr.groups td.plugin-title span:before,
body.branch-3-7.settings_page_bp-components tr.messages td.plugin-title span:before,
body.branch-3-7.settings_page_bp-components tr.forums td.plugin-title span:before,
body.branch-3-7.settings_page_bp-components tr.blogs td.plugin-title span:before,
body.branch-3-7.settings_page_bp-components tr.friends td.plugin-title span:before {
	content: "";
}

body.branch-3-6.settings_page_bp-components td.plugin-title span,
body.branch-3-7.settings_page_bp-components td.plugin-title span {
	background-image: url('../images/menu.png');
	background-position: -4px -40px;
	background-repeat: no-repeat;
}

body.branch-3-6.settings_page_bp-components tr.active td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.active td.plugin-title span {
	background-position-y: -7px;
}

body.branch-3-6.settings_page_bp-components tr.activity td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.activity td.plugin-title span {
	background-position: -4px -40px;
}

body.branch-3-6.settings_page_bp-components tr.activity.active td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.activity.active td.plugin-title span {
	background-position: -4px -7px;
}

body.branch-3-6.settings_page_bp-components tr.xprofile td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.xprofile td.plugin-title span {
	background-image: url('../images/menu-wp.png');
	background-position: -305px -40px;
}

body.branch-3-6.settings_page_bp-components tr.xprofile.active td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.xprofile.active td.plugin-title span {
	background-position: -305px -7px;
}

body.branch-3-6.settings_page_bp-components tr.settings td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.settings td.plugin-title span {
	background-image: url('../images/menu-wp.png');
	background-position: -334px -40px;
}

body.branch-3-6.settings_page_bp-components tr.settings.active td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.settings.active td.plugin-title span {
	background-position: -334px -7px;
}

body.branch-3-6.settings_page_bp-components tr.groups td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.groups td.plugin-title span {
	background-position: -66px -40px;
}

body.branch-3-6.settings_page_bp-components tr.groups.active td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.groups.active td.plugin-title span {
	background-position: -66px -7px;
}

body.branch-3-6.settings_page_bp-components tr.messages td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.messages td.plugin-title span {
	background-position: -154px -40px;
}

body.branch-3-6.settings_page_bp-components tr.messages.active td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.messages.active td.plugin-title span {
	background-position: -154px -7px;
}

body.branch-3-6.settings_page_bp-components tr.forums td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.forums td.plugin-title span {
	background-image: url('../images/menu-wp.png');
	background-position: -36px -40px;
}

body.branch-3-6.settings_page_bp-components tr.forums.active td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.forums.active td.plugin-title span {
	background-position: -36px -7px;
}

body.branch-3-6.settings_page_bp-components tr.blogs td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.blogs td.plugin-title span {
	background-position: -125px -40px;
}

body.branch-3-6.settings_page_bp-components tr.blogs.active td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.blogs.active td.plugin-title span {
	background-position: -125px -7px;
}

body.branch-3-6.settings_page_bp-components tr.friends td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.friends td.plugin-title span {
	background-position: -95px -40px;
}

body.branch-3-6.settings_page_bp-components tr.friends.active td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.friends.active td.plugin-title span {
	background-position: -95px -7px;
}

body.branch-3-6.settings_page_bp-components tr.core td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.core td.plugin-title span {
	background-position: -184px -40px;
}

body.branch-3-6.settings_page_bp-components tr.core.active td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.core.active td.plugin-title span {
	background-position: -184px -7px;
}

body.branch-3-6.settings_page_bp-components tr.members td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.members td.plugin-title span {
	background-position: -36px -40px;
}

body.branch-3-6.settings_page_bp-components tr.members.active td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.members.active td.plugin-title span {
	background-position: -36px -7px;
}

#bp-admin-component-form .widefat th {
    display: table-cell;
    vertical-align: top;
}

/* Version Badge */

.bp-badge {
	font: normal 150px/1 'dashicons' !important;
	color: #000;
	display: inline-block;
}

.bp-badge:before {
	content: "\f448";
}

.about-wrap .bp-badge {
	position: absolute;
	top: 0;
	right: 0;
}
	body.rtl .about-wrap .bp-badge {
		right: auto;
		left: 0;
	}

/* HiDPI
------------------------------------------------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {

	/* Icon 32 */
	body.branch-3-6 div#icon-buddypress,
	body.branch-3-6 div#icon-buddypress-activity,
	body.branch-3-6 div#icon-buddypress-groups,
	body.branch-3-7 div#icon-buddypress,
	body.branch-3-7 div#icon-buddypress-activity,
	body.branch-3-7 div#icon-buddypress-groups {
		background-image: url('../images/icons64.png');
		background-size: 419px 45px;
	}

	/* Backpat */
	body.branch-3-6 ul#adminmenu li.toplevel_page_bp-components .wp-menu-image,
	body.branch-3-6 ul#adminmenu li.toplevel_page_bp-general-settings .wp-menu-image,
	body.branch-3-6 ul#adminmenu li.toplevel_page_bp-activity .wp-menu-image,
	body.branch-3-6 ul#adminmenu li.toplevel_page_bp-activity_network .wp-menu-image,
	body.branch-3-6 ul#adminmenu li.toplevel_page_bp-groups .wp-menu-image,
	body.branch-3-6 ul#adminmenu li.toplevel_page_bp-groups_network .wp-menu-image,
	body.branch-3-7 ul#adminmenu li.toplevel_page_bp-components .wp-menu-image,
	body.branch-3-7 ul#adminmenu li.toplevel_page_bp-general-settings .wp-menu-image,
	body.branch-3-7 ul#adminmenu li.toplevel_page_bp-activity .wp-menu-image,
	body.branch-3-7 ul#adminmenu li.toplevel_page_bp-activity_network .wp-menu-image,
	body.branch-3-7 ul#adminmenu li.toplevel_page_bp-groups .wp-menu-image,
	body.branch-3-7 ul#adminmenu li.toplevel_page_bp-groups_network .wp-menu-image {
		background-image: url('../images/menu-2x.png') !important;
		background-size: 209px 64px;
	}

	/* Badge */
	.bp-badge {
		background-image: url('../images/badge-2x.png');
		background-size: 173px 194px;
	}
}