/**** BP Members Profile Administration Screens ****/

div#profile-page.wrap form#your-profile {
	position:relative;
}

div#profile-page.wrap form#your-profile h3:first-of-type {
	margin-top:6em;
}

div#profile-page.wrap form#your-profile ul#profile-nav {
	position:absolute;
	top:-6em;
	border-bottom:solid 1px #ccc;
	width:100%;
}

div#community-profile-page ul#profile-nav {
	border-bottom:solid 1px #ccc;
	width:100%;
	margin-top:1em;
	margin-bottom:1em;
	padding:1em 0;
	padding-bottom: 0;
	height:2.4em;
}

form#your-profile ul#profile-nav li,
div#community-profile-page ul#profile-nav li {
	margin-left:0.4em;
	float:left;
	font-weight: bold;
	font-size: 15px;
	line-height: 24px;
}

form#your-profile ul#profile-nav li a,
div#community-profile-page ul#profile-nav li a {
	text-decoration: none;
	color:#888;
}

form#your-profile ul#profile-nav li a:hover,
form#your-profile ul#profile-nav li.nav-tab-active a,
div#community-profile-page ul#profile-nav li a:hover,
div#community-profile-page ul#profile-nav li.nav-tab-active a {
	text-decoration: none;
	color:#000;
}

div#community-profile-page li.bp-members-profile-stats:before,
div#community-profile-page li.bp-friends-profile-stats:before,
div#community-profile-page li.bp-groups-profile-stats:before,
div#community-profile-page li.bp-blogs-profile-stats:before,
div#community-profile-page a.bp-xprofile-avatar-user-admin:before {
	font-family: 'dashicons';
	font-size: 18px;
	vertical-align: bottom;
	margin-right:5px;
}

div#community-profile-page li.bp-members-profile-stats:before {
	content: "\f130";
}

div#community-profile-page li.bp-friends-profile-stats:before {
	content: "\f454";
}

div#community-profile-page li.bp-groups-profile-stats:before {
	content: "\f456";
}

div#community-profile-page li.bp-blogs-profile-stats:before {
	content: "\f120";
}

div#community-profile-page a.bp-xprofile-avatar-user-admin:before {
	content:"\f182";
}

div#community-profile-page div#bp_xprofile_user_admin_avatar div.avatar {
	width:150px;
	margin:0 auto;
}

div#community-profile-page div#bp_xprofile_user_admin_avatar div.avatar img {
	max-width: 100%;
	height: auto;
}

div#community-profile-page div#bp_xprofile_user_admin_avatar a {
	display:block;
	margin:1em 0;
	text-decoration:none;
	color:#888;
}

div#community-profile-page p.not-activated {
	margin:1em 1em 0;
	color:red;
}

#community-profile-page #submitdiv #publishing-action {
	float: none;
	width: 100%;
}

.bp-view-profile {
	float: left;
}

.alt {
	background: none;
}
.bp-profile-field {
	border-bottom: dotted 1px #ccc;
	font-size: 14px;
	margin: 15px 0;
	padding: 10px;
}
.bp-profile-field:last-child {
	border-bottom: 0;
}
.bp-profile-field p {
	font-size: 14px;
}
.bp-profile-field .datebox > label,
.bp-profile-field .radio > label,
.bp-profile-field > label {  /* label takes on left side 200px */
	display: inline-block;
	font-weight: 600;
	text-align: left;
	vertical-align: middle;
	width: 200px;
}

.field_type_textarea > label,
.field_type_multiselectbox > label,
.field_type_radio .radio > label,
.field_type_checkbox .checkbox > label {  /* these fields are usually pretty tall, so align the label for better consistency */
	vertical-align: top;
}
.bp-profile-field .description {  /* description also sits in the right side column */
	margin: 10px 0 10px 200px;
	text-align: left;
}
.clear-value {  /* 'clear value' option also sits in the right side column */
	display: block;
	font-size: 12px;
	margin-left: 200px;
}
.field_type_checkbox .checkbox > label + label {  /* force checkboxes to new lines, in the right side column */
	display: block;
	margin-left: 200px;
	width: auto;
}
.field_type_radio .radio div:not(.field-visibility-settings) label {  /* force radio buttons to new lines */
	display: block;
}
.field_type_radio .radio div:not(.field-visibility-settings) {  /* make the radio buttons sit in the right side column */
	display: inline-block;
}
.field-visibility-settings-notoggle,
.field-visibility-settings-toggle {  /* visibility settings go in the left column */
	margin: 10px 0 10px 200px;
	text-align: left;
}
.field-visibility-settings {  /* visibility settings go in the left column */
	display: none;
	margin-left: 200px;
}
.field-visibility-settings .button {  /* visibility setting close button */
	margin-bottom: 15px;
}
#normal-sortables .field-visibility-settings legend {  /* id required for css selector weight */
	font-size: 16px;
	margin-bottom: 10px;
}
