/**** BP Members Profile Administration Screens ****/

div#profile-page.wrap form#your-profile {
	position:relative;
}

div#profile-page.wrap form#your-profile h3:first-of-type {
	margin-top:6em;
}

div#profile-page.wrap form#your-profile ul#profile-nav {
	position:absolute;
	top:-6em;
	border-bottom:solid 1px #ccc;
	width:100%;
}

div#community-profile-page h2:first-of-type {
	margin-bottom:1em;
}

div#community-profile-page  h2.profile-section {
	border-bottom:dotted 1px #ccc;
}

div#community-profile-page ul#profile-nav {
	border-bottom:solid 1px #ccc;
	width:100%;
	margin-top:1em;
	margin-bottom:1em;
	padding:1em 0;
	padding-bottom: 0;
	height:2.4em;
}

form#your-profile ul#profile-nav li,
div#community-profile-page ul#profile-nav li {
	margin-left:0.4em;
	float:left;
	font-weight: bold;
	font-size: 15px;
	line-height: 24px;
}

form#your-profile ul#profile-nav li a,
div#community-profile-page ul#profile-nav li a {
	text-decoration: none;
	color:#888;
}

form#your-profile ul#profile-nav li a:hover,
form#your-profile ul#profile-nav li.nav-tab-active a,
div#community-profile-page ul#profile-nav li a:hover,
div#community-profile-page ul#profile-nav li.nav-tab-active a {
	text-decoration: none;
	color:#000;
}

div#community-profile-page li.bp-members-profile-stats:before,
div#community-profile-page li.bp-friends-profile-stats:before,
div#community-profile-page li.bp-groups-profile-stats:before,
div#community-profile-page li.bp-blogs-profile-stats:before,
div#community-profile-page a.bp-xprofile-avatar-user-admin:before {
	font-family: 'dashicons';
	font-size: 18px;
	vertical-align: bottom;
	margin-right:5px;
}

div#community-profile-page li.bp-members-profile-stats:before {
	content: "\f130";
}

div#community-profile-page li.bp-friends-profile-stats:before {
	content: "\f454";
}

div#community-profile-page li.bp-groups-profile-stats:before {
	content: "\f456";
}

div#community-profile-page li.bp-blogs-profile-stats:before {
	content: "\f120";
}

div#community-profile-page a.bp-xprofile-avatar-user-admin:before {
	content:"\f182";
}

div#community-profile-page div#bp_xprofile_user_admin_avatar div.avatar {
	width:150px;
	margin:0 auto;
}

div#community-profile-page div#bp_xprofile_user_admin_avatar a {
	display:block;
	margin:1em 0;
	text-decoration:none;
	color:#888;
}

div#community-profile-page p.not-activated {
	margin:1em 1em 0;
	color:red;
}

div#community-profile-page .form-table td.admin-field-visibility-td {
	padding:5px 5px 15px 5px;
}

div#community-profile-page .form-table tr.admin-field-visibility-tr {
	border-bottom:dotted 1px #ccc;
}

div#community-profile-page .form-table tr.admin-field-visibility-tr:last-child{
	border:none;
}

div#community-profile-page .field-visibility-settings legend, 
div#community-profile-page .field-visibility-settings-notoggle {
	font-size: 14px;
	font-style: italic;
	color:#666;
}

div#community-profile-page .field-visibility-settings ul {
	margin:0;
	font-size: 13px;
}

div#community-profile-page .field-visibility-settings ul li {
	display:inline-block;
	margin-right:1em;
}

div#community-profile-page .form-table td.admin-field-radio label, 
div#community-profile-page .form-table td.admin-field-checkbox label {
	display:block;
}
