body { min-width: 600px; }

#container {
	overflow: hidden;
}

.internal-page #content, #userbar, #optionsbar {
	position: relative;
	float: right;
}

#userbar, #optionsbar {
	width: 140px;
}

.internal-page #content {
	float: none;
	margin-right: 280px;
}