// BP Who's online & active members blocks.
[data-type="bp/active-members"],
[data-type="bp/online-members"] {

	.avatar-block {
		display: flex;
		flex-flow: row wrap;

		img {
			margin: 0.5em;
		}
	}
}
