/* CSS for the bp/member block */
[data-type="bp/member"] {

	input.components-placeholder__input {
		flex: 1 1 auto;
		border-radius: 2px;
		border: 1px solid #757575;
		padding: 6px 8px;
	}
}

.bp-block-member {
	position: relative;

	.member-content {
		display: flex;
	}

	.user-nicename {
		display: block;

		a {
			color: currentColor;
			text-decoration: none;
			border: none;
		}
	}

	.bp-profile-button {
		width: 100%;

		a.button {
			position: absolute;
			bottom: 10px;
			right: 0;
			display: inline-block;
			margin: 18px 0 0;
		}
	}

	&.has-cover {

		.member-content,
		.item-header-avatar,
		.member-description {
			z-index: 2;
		}

		.member-content {
			padding-top: 75px;
		}

		.member-description {
			padding-top: 75px;
		}

		.bp-member-cover-image {
			background-color: #c5c5c5;
			background-position: center top;
			background-repeat: no-repeat;
			background-size: cover;
			border: 0;
			display: block;
			left: 0;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
			height: 150px;
		}
	}

	img.avatar {
		width: auto;
		height: auto;
	}

	&.avatar-none {

		.item-header-avatar {
			display: none;
		}
	}

	&.avatar-none.has-cover {
		min-height: 200px;
	}

	&.avatar-full {
		min-height: 150px;

		.item-header-avatar {
			width: 180px;
		}
	}

	&.avatar-full.has-cover {
		min-height: 300px;

		.item-header-avatar {
			width: 200px;
		}

		img.avatar {
			border: solid 2px #fff;
			background: rgba(255, 255, 255, 0.8);
			margin-left: 20px;
		}
	}

	&.avatar-thumb {

		.member-content {
			min-height: 50px;
			align-items: center;
		}

		.item-header-avatar {
			width: 70px;
		}
	}

	&.avatar-thumb.has-cover {

		.item-header-avatar {
			padding-top: 75px;
		}
	}
}

.entry .entry-content .bp-block-member .user-nicename {

	a {
		color: currentColor;
		text-decoration: none;
		border: none;
	}
}
