[data-type="bp/sitewide-notices"] {

	.bp-screen-reader-text {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		word-wrap: normal !important;
	}

	[data-bp-tooltip]::after {
		background-color: #fff;
		display: none;
		opacity: 0;
		position: absolute;
		transform: translate3d(0, 0, 0);
		visibility: hidden;
	}

	[data-bp-tooltip]::after {
		border: 1px solid #737373;
		border-radius: 1px;
		box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
		color: #333;
		content: attr(data-bp-tooltip);
		font-family: "Helvetica Neue", helvetica, arial, san-serif;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: normal;
		line-height: 1.25;
		max-width: 200px;
		padding: 5px 8px;
		pointer-events: none;
		text-shadow: none;
		text-transform: none;
		transition: all 1.5s ease;
		white-space: nowrap;
		word-wrap: break-word;
		z-index: 100000;
	}

	.bp-tooltip::after {
		left: 50%;
		margin-top: 7px;
		top: 110%;
		transform: translate(-50%, 0);
	}
}

.bp-sitewide-notice-block {
	position: relative;
	padding-left: 1em;
	border-left: solid 4px #ff853c;

	h2:before {
		border: none;
		background: none;
	}

	.dismiss-notice {
		display: block;
		background-color: transparent;
		border: solid 1px #ff853c;
		color: #ff853c;
		padding: 0.2em 0.5em;
		width: fit-content;
		position: absolute;
		top: 0.5em;
		right: 0.5em;

		&:hover {
			background-color: #ff853c;
			color: #fff;
		}
	}
}
