.blog-page #container, .directory #container {
	padding: 20px;
}

.blog-page #content, .directory #content {
	float: right;
	width: 100%;
	padding: 0;
	margin: 0;
}

.blog-page #sidebar, .directory #sidebar {
	float: right;
	width: 240px;
	margin-right: -240px;
}

.blog-page .page, .directory .page {
	margin-left: 260px;
}