// BP login form widget
.widget_bp_core_login_widget {

	.bp-login-widget-user-avatar {
		float: left;
	}

	.bp-login-widget-user-links {
		margin-left: 70px;
	}
}

#bp-login-widget-form {

	label {
		display: block;
		font-weight: 600;
		margin: 15px 0 5px;
		width: auto;
	}

	input[type="text"],
	input[type="password"] {
		width: 100%;
		background-color: #fafafa;
		border: 1px solid #d6d6d6;
		border-radius: 0;
		font: inherit;
		font-size: 100%;
		padding: 0.5em;
	}

	.login-submit,
	.bp-login-widget-register-link {
		width: fit-content;
		display: inline;
	}

	.bp-login-widget-register-link {
		margin-left: 1em;
		vertical-align: super;
	}

	.bp-login-widget-pwd-link {
		font-size: 80%;
	}
}
