body.toplevel_page_bp-groups table.groups th#status,
body.toplevel_page_bp-groups table.groups th#members {
	width: 10%;
}

body.toplevel_page_bp-groups table.groups th#last_active {
	width: 15%;
}

#bp-groups-edit-form input {
	outline: medium none;
	padding: 3px 8px;
}
#bp-groups-edit-form input#bp-groups-name {
	font-size: 1.7em;
	width: 100%;
}
#bp-groups-edit-form input#bp-groups-new-members {
	width: 100%;
	max-width: 90%;
	border: 0;
}
.bp-groups-settings-section {
	margin-bottom: 15px;
}
.bp-groups-member-type {
	position: relative;
	padding-bottom: 1.7em;
}
.bp-groups-member-type > h4 {
	margin-bottom: .5em;
}
ul.bp-group-delete-list {
	list-style-type: disc;
	margin: 4px 26px;
}
.bp-group-admin-pagination {
	position: absolute;
	text-align: right;
	width: 100%;
}
.bp-group-admin-pagination.table-top {
	top: 0;
}
.bp-group-admin-pagination.table-bottom {
	bottom: 0;
}
.bp-group-admin-pagination-viewing {
	color: #777;
	font-size: 12px;
	font-style: italic;
}
.bp-group-admin-pagination-links {
	white-space: nowrap;
	padding-left: 15px;
}
