/*------------------------------------------------------------------------------
Loaded in wp-admin for query string `hello=buddypress`.

@since 3.0.0

--------------------------------------------------------------------------------
TABLE OF CONTENTS:
--------------------------------------------------------------------------------
1.0 - Typography and colour
2.0 - Dashicons
3.0 - Elements
	3.1 - Modal footer
	3.2 - Modal content
4.0 - Content styles
	4.1 - Footer content
	4.2 - Header content
	4.3 - Content content
5.0 - Media
6.0 - Media Queries
	6.1 - Desktop Medium
	6.2 - Desktop Large
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 * 1.0 - Typography and colour
 *----------------------------------------------------------------------------*/
:root {
	--bp-hello-color-primary: #d34600;
	--bp-hello-color-secondary: #e5e5e5;
	--bp-hello-container-size: 15%;
}

.bp-hello-content {

	p {
		font-size: 16px;
	}

	ul,
	ol {
		list-style: inherit;
	}

	h3 {
		font-size: 1.1em;
		font-weight: 500;
	}
}

/*------------------------------------------------------------------------------
 * 2.0 - Dashicons
 *----------------------------------------------------------------------------*/
.bp-hello-social {

	li a {

		&:before {
			color: #23282d; /* wp toolbar */
			font: 400 30px/0.6 dashicons;
			speak: none;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			background-image: none !important;
		}

		&:hover:before {
			-webkit-transition: all 0.1s ease-in-out;
			-o-transition: all 0.1s ease-in-out;
			transition: all 0.1s ease-in-out;
			color: var(--bp-hello-color-primary);
		}

		&.support:before {
			content: "\f448";
		}

		&.twitter:before {
			content: "\f301";
		}
	}
}

div.dashicons {

	width: fit-content;

	&.big {
		font-size: 128px;
		display: block;
		color: var(--bp-hello-color-primary);
		height: 128px;
		width: 128px;
	}
}

/*------------------------------------------------------------------------------
 * 3.0 - Elements
 *----------------------------------------------------------------------------*/

/*
 * 3.1 - Modal footer
 */
#plugin-information-footer {

	display: flex;
	flex-wrap: wrap;
	padding: 0 16px;
	height: auto;

	.dashicons-heart {
		color: #be3631;
	}
}

.bp-hello-social-cta,
.bp-hello-social-links {
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
}

.bp-hello-social-links {

	ul {
		display: inline-block;
	}
}

.bp-hello-social {

	li {
		position: relative;
		bottom: -5px;
		display: inline-block;
		list-style-type: none;
		margin-bottom: 0;

		&:last-child a {
			margin-left: 4px;
		}
	}
}

/*
 * 3.2 - Modal content
 */

#bp-hello-container {
	display: none;
}

.bp-hello-content {
	padding: 0 25px;
	padding-bottom: 20px;
}

#dynamic-content {
	padding-bottom: 40px;
	display: none;

	&.show {
		display: block;
	}
}

.plugin-details-modal #TB_title { /* stylelint-disable-line */
	height: 0;
	background: none;
	border: none;
}

#TB_window.plugin-details-modal.thickbox-loading:before { /* stylelint-disable-line */
	z-index: 10;
	margin-top: 40px;
	background-color: none;
}

.bp-hello-aligncenter * {
	margin: 10px auto;
}

.bp-hello-alignleft {
	float: left;

	&:after {
		content: "";
		clear: left;
	}
}

.bp-hello-alignright {
	float: right;

	&:after {
		content: "";
		clear: right;
	}
}

.bp-hello-divider {
	clear: both;
	border: none;
	margin-bottom: 20px;
}

/*------------------------------------------------------------------------------
 * 4.0 - Content styles
 *----------------------------------------------------------------------------*/

/*
 * 4.1 - Footer content
 */
.bp-hello-social-cta {
	text-align: left;
}

.bp-hello-social-links {
	text-align: right;
}

.bp-hello-social {

	li {

		a {
			text-decoration: none;
		}
	}
}

/*
 * 4.2 - Header content
 */
#plugin-information-title.with-banner {
	background-image: url(https://ps.w.org/buddypress/assets/banner-772x250.png);
}

/*
 * 4.3 - Content content
 */
.bp-hello-content {
	background-color: rgb(255, 255, 255);
}

/*------------------------------------------------------------------------------
 * 5.0 - Media
 *----------------------------------------------------------------------------*/
.bp-hello-content {

	img {
		border-radius: 2px;
		max-width: 100%;
	}

	iframe {
		width: 100%;
	}

	.bp-hello-alignleft img,
	.bp-hello-alignright img {
		max-width: 200px;
	}
}

/*------------------------------------------------------------------------------
 * 6.0 - Media Queries
 *----------------------------------------------------------------------------*/

/*
 * 6.1 - Desktop Medium
 */
@media only screen and (min-width: 1024px) {

	.bp-hello-content {
		padding: 0 30px 20px;
	}

	.bp-hello-content p {
		font-size: 14px;
	}
}

/**
 * 6.2 - Desktop Large
 */
@media only screen and ( -webkit-min-device-pixel-ratio: 1.5 ) {

	#plugin-information-title.with-banner {
		background-image: url(https://ps.w.org/buddypress/assets/banner-1544x500.png);
	}
}
